section._c-banner-cta.bg-dark-green
   .o-container
      ._c-banner-cta--intro
         img.img-responsive(src="../images/videollamada.png", alt="", srcset="../images/videollamada.png")
         h2 ¿Aún tienes dudas? 
      ._c-banner-cta--info
         p Ingresa a nuestra sala virtual y resuelve tus dudas de admisiones al instante. Uno de nuestros asesores te atenderá
      ._c-banner-cta--sesionInfo
         h4 Horario de atención 9:00am a 6:30pm
         a.o-btn.btn-solid.bg-aqua-dark(href="#!") Inicia Video Conferencia ¡AHORA!