section._c-banner-cta.bg-picture
   .o-container
      ._c-banner-cta--background
         img.img-responsive(src="../images/intercambio-bg.jpg", alt="", srcset="../images/intercambio-bg.jpg")
      ._c-banner-cta--intro
         img.img-responsive(src="../images/ico-inter.png", alt="", srcset="../images/ico-inter.png")
         h2 Vive una Experiencia Intercultural #[span en los más de 25 países en convenio con Temilenio.]
      ._c-banner-cta--footer
         a.o-btn.btn-outline(href="#!") Experiencia Intercultural