section._c-events-list
   .o-container 
      h2.text-center.text-uppercase.color-aqua-dark ¡No te pierdas nuestros próximos eventos!
      .o-grid-row
         .col.size-3
            ._c-events-list--event
               ._c-events-list--picture
                  a(href="#!")
                     img.img-responsive(src="../images/event-1.jpg", alt="", srcset="../images/event-1.jpg")
               ._c-events-list--information
                  h3 #[a(href="#!") Wellbeing 360]
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
         .col.size-3
            ._c-events-list--event
               ._c-events-list--picture
                  a(href="#!")
                     img.img-responsive(src="../images/event-2.jpg", alt="", srcset="../images/event-2.jpg")
               ._c-events-list--information
                  h3 #[a(href="#!") Semana de la Felicidad]
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
         .col.size-3
            ._c-events-list--event
               ._c-events-list--picture
                  a(href="#!")
                     img.img-responsive(src="../images/event-3.jpg", alt="", srcset="../images/event-3.jpg")
               ._c-events-list--information
                  h3 #[a(href="#!") Open House Prepa]
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
         .col.size-3
            ._c-events-list--event
               ._c-events-list--picture
                  a(href="#!")
                     img.img-responsive(src="../images/event-4.jpg", alt="", srcset="../images/event-4.jpg")
               ._c-events-list--information
                  h3 #[a(href="#!") 20 años ]
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
