._c-exatecmi-home
   .o-container
      ._c-exatecmi-home--intro.text-center
         h2.color-dark-green.text-uppercase Conoce las historias de éxito de la comunidad EXATECMI
         p Sé parte de las y los egresados de Tecmilenio, comparte tu historia e inspira a más personas a cumplir su Propósito de Vida. 

      ._c-exatecmi-home--grid
         .o-grid-row.row-center
            .col.size-4
               ._c-exatecmi-home--exatecmicard
                  ._c-exatecmi-home--person
                     img(src="../../images/exatecmi-1.jpg", alt="", srcset="../../images/exatecmi-1.jpg")
                  ._c-exatecmi-home--copy
                     h3 Nombre Apellido
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. 
                     a.o-btn.btn-outline(href="#!") Conoce más
                  
            .col.size-4
               ._c-exatecmi-home--exatecmicard
                  ._c-exatecmi-home--person
                     img(src="../../images/exatecmi-1.jpg", alt="", srcset="../../images/exatecmi-1.jpg")
                  ._c-exatecmi-home--copy
                     h3 Nombre Apellido
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. 
                     a.o-btn.btn-outline(href="#!") Conoce más
                  
            .col.size-4
               ._c-exatecmi-home--exatecmicard
                  ._c-exatecmi-home--person
                     img(src="../../images/exatecmi-1.jpg", alt="", srcset="../../images/exatecmi-1.jpg")
                  ._c-exatecmi-home--copy
                     h3 Nombre Apellido
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. 
                     a.o-btn.btn-outline(href="#!") Conoce más
                  
      
   
