section._c-edu-levels
   .o-container
      ._c-edu-levels--intro
         h2 Estudia en Tecmilenio y sé un Halcón
         p Al continuar tu formación académica con nosotros podrás vivir un modelo educativo único que te inspirará a descubrir y cumplir tu Propósito de Vida, 9 de cada 10 de nuestros estudiantes logran obtener un empleo al graduarse.
      ._c-edu-levels--gridLevels
         .o-grid-row 
            .col.size-3
               ._c-edu-levels--level
                  ._c-edu-levels--pictureLevel
                     img.img-responsive(src="../images/img-level-prepa.png", alt="", srcset="../images/img-level-prepa.png")
                  ._c-edu-levels--infoLevel.nvl-prepa
                     h3 Preparatoria
                     p Encuentra un acompañamiento y una experiencia intercultural que expanda tu horizonte profesional y elije la mejor opción para ti.
                     a.o-btn.btn-solid.bg-dark-green(href="#!") Conoce más                  
            .col.size-3
               ._c-edu-levels--level
                  ._c-edu-levels--pictureLevel
                     img.img-responsive(src="../images/img-level-profe.png", alt="", srcset="../images/img-level-profe.png")
                  ._c-edu-levels--infoLevel.nvl-profe
                     h3 Universidad
                     p Descubre nuestras carrerasque te llevarán a crecer laboralmente con algunas de las más de 4 mil 500 empresas aliadas.
                     a.o-btn.btn-solid.bg-dark-green(href="#!") Conoce más                  
            .col.size-3
               ._c-edu-levels--level
                  ._c-edu-levels--pictureLevel
                     img.img-responsive(src="../images/img-level-posgrado.png", alt="", srcset="../images/img-level-posgrado.png")
                  ._c-edu-levels--infoLevel.nvl-posgrado
                     h3 Posgrado
                     p Continúa tus estudios y únete a los más de 140 mil egresados que incrementan sus habilidades y competencias.
                     a.o-btn.btn-solid.bg-dark-green(href="#!") Conoce más                  
            .col.size-3
               ._c-edu-levels--level
                  ._c-edu-levels--pictureLevel
                     img.img-responsive(src="../images/img-level-cdc.png", alt="", srcset="../images/img-level-cdc.png")
                  ._c-edu-levels--infoLevel.nvl-cdc
                     h3 CDC
                     p Descubre nuestras carrerasque te llevarán a crecer laboralmente con algunas de las más de 4 mil 500 empresas aliadas.
                     a.o-btn.btn-solid.bg-dark-green(href="#!") Conoce más  