._c-hero-home-component
   .o-container
      ._c-hero-home-component--introduction
         h1 Tu vuelo empieza aquí
         p ¿Quieres unirte a la comunidad de gente creadora, innovadora, capaz de transformar el mundo?
         a.o-btn.bg-green-pastel(href="#!") 
            | ¡Si quiero!
            | #[span]

