section._c-installations-overview
   .o-container
      ._c-installations-overview--intro.text-center
         h2.color-dark-green.text-uppercase Recorre nuestras instalaciones de manera virtual
         p Conoce los distintos espacios que te permitirán enfocarte en tus estudios, incrementar tu red de contactos y construir una nueva versión de ti.
      
      ._c-installations-overview--gallery-grid
         .o-grid-row
            ._c-installations-overview--gallery-lines.col.size-9
               ._c-installations-overview--gallery-line
                  .o-grid-row
                     .col.size-4
                        a(href="../images/installation-1.jpg")
                           img.img-full-responsive(src="../images/installation-1.jpg", alt="Test", srcset="../images/installation-1.jpg")
                     .col.size-8
                        a(href="../images/installation-2.jpg")
                           img.img-full-responsive(src="../images/installation-2.jpg", alt="test", srcset="../images/installation-2.jpg")
               ._c-installations-overview--gallery-line
                  .o-grid-row
                     .col.size-4
                        a(href="../images/installation-4.jpg")
                           img.img-full-responsive(src="../images/installation-4.jpg", alt="Test", srcset="../images/installation-4.jpg")
                     .col.size-8
                        a(href="../images/installation-3.jpg")
                           img.img-full-responsive(src="../images/installation-3.jpg", alt="test", srcset="../images/installation-3.jpg")
            ._c-installations-overview--gallery-main.col.size-3
                  a(href="../images/installation-5.jpg")
                     img.img-full-responsive(src="../images/installation-5.jpg", alt="Test", srcset="../images/installation-5.jpg")
      

      ._c-installations-overview--out
         a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conocer los campus
