section._c-news-section
   .o-container
      h2.text-center.color-dark-green.text-uppercase ¡Entérate de las últimas noticias de Tecmilenio!
      .o-grid-row.row-center
         .col.size-6
            ._c-news-section--new
               ._c-news-section--new--picture
                  img.img-responsive(src="../../images/new-1.jpg", alt="", srcset="../../images/new-1.jpg")
               ._c-news-section--new--preview
                  h3
                     a(href="#!") ¿Cuál es la diferencia?
                  p
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-dark-green(href="#!") Leer más
         .col.size-6
            ._c-news-section--new
               ._c-news-section--new--picture
                  img.img-responsive(src="../../images/new-1.jpg", alt="", srcset="../../images/new-1.jpg")
               ._c-news-section--new--preview
                  h3
                     a(href="#!") Alumnos Tecmilenio
                  p
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-dark-green(href="#!") Leer más
         .col.size-6
            ._c-news-section--new
               ._c-news-section--new--picture
                  img.img-responsive(src="../../images/new-1.jpg", alt="", srcset="../../images/new-1.jpg")
               ._c-news-section--new--preview
                  h3
                     a(href="#!") Tecmilenio logra un premio de liderazgo
                  p
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-dark-green(href="#!") Leer más
         .col.size-6
            ._c-news-section--new
               ._c-news-section--new--picture
                  img.img-responsive(src="../../images/new-1.jpg", alt="", srcset="../../images/new-1.jpg")
               ._c-news-section--new--preview
                  h3
                     a(href="#!") Profesores de Tecmilenio son
                  p
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a.o-btn.btn-solid.bg-dark-green(href="#!") Leer más


      a.o-btn.bg-solid.bg-aqua-dark.btn-seeall(href="#!") Ver más