section._c-picture-with-copy
   .o-container
      .o-grid-row.row-center
         .col.size-6
            ._c-picture-with-copy--picture
               img(src="../images/img-home-1.jpg", alt="Img Home", srcset="../images/img-home-1.jpg").img-responsive
         .col.size-6
            ._c-picture-with-copy--copy
               .square
               h2 ¡Estás en el mejor lugar para convertirte en eso que quieres ser!
               h3 Forma parte de nuestra visión y transformemos el mundo.
               p Somos personas positivas que cumplen su Propósito de Vida. #[br] Nos apasiona contribuir a tu felicidad mediante un acompañamiento cercano y proporcionarte herramientas de autoconocimiento para que adoptes los hábitos que te conduzcan al bienestar integral en todas sus dimensiones: intelectual, ocupacional, financiero, físico, emocional, espiritual y social. 
      ._c-picture-with-copy--footer
         .o-grid-row
            .col
               img(src="../images/img-home-2.jpg", alt="Home", srcset="../images/img-home-2.jpg")
               .square