footer.footermain
   .o-container
      .footermain--flex-content
         .footermain--flex-content--col
            .footermain--flex-content--accordion
               h3 Accesos
               ul
                  li
                     a(href="#!") Portal de alumnos
                  li
                     a(href="#!") Portal de padres
                  li
                     a(href="#!") Portal de profesores
                  li
                     a(href="#!") Portal de egresados
                  li
                     a(href="#!") Preguntas frecuentes
                  li
                     a(href="#!") Mapa de sitio
         .footermain--flex-content--col
            .footermain--flex-content--accordion
               h3 Enlaces de interés
               ul
                  li
                     a(href="#!") Propositivo  
                  li
                     a(href="#!") Vive Tecmilenio  
                  li
                     a(href="#!") Propósfera  
                  li
                     a(href="#!") Blog  
                  li
                     a(href="#!") Soy mentor  
                  li
                     a(href="#!") Trabaja en Tecmilenio  
                  li
                     a(href="#!") Becas con propósito 
         .footermain--flex-content--col
            .footermain--flex-content--accordion
               h3 Sigamos en contacto
               ul
                  li
                     a(href="#!") 81 3413 3349 
                  li
                     a(href="#!") 800 444 4020 
                  li
                     a(href="#!") *TECMI (83264) 
                  li
                     a(href="#!") hola@tecmilenio.mx
         .footermain--flex-content--col
            .footermain--flex-content--socialblock
               //- .footermain--flex-content--socialblock--blockiframe
               //-    iframe
               .footermain--flex-content--socialblock--oursocial
                  //- h4 Descarga nuestra app
                  //- ul
                  //-    li
                  //-       a(href="#!")
                  //-          img(src="../images/apple-store.png", alt="", srcset="../images/apple-store.png")
                  //-    li
                  //-       a(href="#!")
                  //-          img(src="../images/google-store.png", alt="", srcset="../images/google-store.png")
                  br
                  br
               .footermain--flex-content--socialblock--oursocial
                  h4 Síguenos en nuestras redes
                  ul
                     li
                        a(href="#!")
                           span.icon.facebook
                     li
                        a(href="#!")
                           span.icon.linkedin
                     li
                        a(href="#!")
                           span.icon.twitter
                     li
                        a(href="#!")
                           span.icon.youtube
               
   .footermain--end-page
      .o-container
         p Universidad Tecmilenio D.R. Enseñanza e Investigación Superior, A.C.
         .links
            a(href="#!") Aviso de Privacidad
            a(href="#!") Términos y Condiciones


            