header#mainNavGlobal
   nav.mainNav
      .mainNav--logo
         img(src="../images/logo-tecmilenio.png", alt="Tecmilenio").img-responsive
      .mainNav--menu
         //- Menu first level
         ul.level--one
            //- First link - level one
            li.level--one-li
               a(href="#!").level--one-a.actionDrop Modelo Tecmilenio
               //- Menu second level
               ol.level--two

                  li.level--two-li
                     a(href="#!").level--two-a Universidad Positiva
                     //- Menu third level
                     ul.level--three
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                     .level--two--cta-link 
                        a(href="#!").link-go
                           img(src="https://via.placeholder.com/275x275", alt="test")
                           span Descubre nuestro modelo Connect

                  li.level--two-li
                     a(href="#!").level--two-a Universidad Positiva
                     //- Menu third level
                     ul.level--three
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                     .level--two--cta-link 
                        a(href="#!").link-go
                           img(src="https://via.placeholder.com/275x275", alt="test")
                           span Descubre nuestro modelo Connectsss
            //- First link - level one
            li.level--one-li 
               a(href="#!").level--one-a.actionDrop Modelo Tecmilenio 2
               //- Menu second level
               ol.level--two

                  li.level--two-li
                     a(href="#!").level--two-a Universidad Positiva
                     //- Menu third level
                     ul.level--three
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                     .level--two--cta-link 
                        a(href="#!").link-go
                           img(src="https://via.placeholder.com/275x275", alt="test")
                           span Descubre nuestro modelo Connect

                  li.level--two-li
                     a(href="#!").level--two-a Universidad Positiva
                     //- Menu third level
                     ul.level--three
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                        li.level--three-li
                           a(href="#!").level--three-a Submenu Universidad positivas
                     .level--two--cta-link 
                        a(href="#!").link-go
                           img(src="https://via.placeholder.com/275x275", alt="test")
                           span Descubre nuestro modelo Connectsss

            //- last link - level one
            li.level--one-li
               a(href="#!").level--one-a.o-btn.btn-green ¡Quiero ser Halcón!
      .mainNav--mobileActions
         a(href="#!").mobileActions--search
            span.icon.search
         a(href="#!").mobileActions--toggleMenu
            span.icon.menu


