._c-certifications-accordeons

   padding: 90px 0 180px
   @include maxTabletPortrait
      padding: 80px 0 120px
   @include phabletToDesktopSmall
      padding: 25px 0 50px
   @include maxMobile
      padding: 70px 0 0

   &.accent-prepa
      h2
         color: $color-prepa-2
      ._c-certifications-accordeons--certificate-title 
         border-color: $dark-green
         h3
            color: $dark-green
      ._c-certifications-accordeons--img::before
         background-color: $dark-green

   &.accent-default
      h2
         color: $dark-green
      ._c-certifications-accordeons--certificate-title 
         border-color: $dark-green
         h3
            color: $dark-green
      ._c-certifications-accordeons--img::before
         background-color: $dark-green
      ._c-certifications-accordeons--infocontent 
         ul
            li
               color: $green-pastel
               span
                  color: $color-text-default

   &.accent-profeaso
      h2
         color: $color-profesional-aso-3
         margin-bottom: 20px
         @include maxMobile
            width: 100%
      .o-container
         @include maxMobile
            width: 95%
            padding: 0 10px
      ._c-certifications-accordeons--grid
         margin-top: 100px
         @include maxMobile
            margin-top: 40px
      ._c-certifications-accordeons--certificate
         background-color: $white-gray
         padding: 30px
         margin-bottom: 15px
         max-width: 850px
         @include maxMobile
            max-width: 100%
            width: 100%
      ._c-certifications-accordeons--certificate-title 
         border-color: $dark-green
         h3
            color: $dark-green
      ._c-certifications-accordeons--img::before
         background-color: $dark-green
      .o-grid-row
         @include maxTabletPortrait
            flex-flow: column
         .col
            // padding: 0 15px
            @include maxTabletPortrait
               width: 100%   

   &.accent-profesional
      h2
         color: $dark-green
      ._c-certifications-accordeons--certificate-title 
         border-color: $dark-green
         h3
            color: $dark-green
      ._c-certifications-accordeons--img::before
         background-color: $color-profesional-2
   

   .o-container
      @include maxMobile
         width: 100%

   .o-grid-row
      @include maxTabletPortrait
         flex-flow: column-reverse
      .col
         padding: 0
         @include maxTabletPortrait
            width: 100%


   h2
      margin-bottom: 90px
      @include maxMobile
         text-align: left
         width: 90%
         margin: 0 auto 60px
   
   p
      @include maxMobile      
         text-align: left

   &--grid
      @include flexCenter
      @include maxTabletPortrait
         max-width: 650px
         margin: 0 auto


   &--img
      position: relative
      @include maxTabletPortrait
         margin-top: 50px
      @include maxMobile
         margin-top: 20px
         height: 230px
         overflow: hidden
         @include flexCenter
      img
         position: relative
         display: block
         width: 100%
         max-width: 100%
         z-index: 2
      &::before
         content: ""
         position: absolute
         bottom: -65px 
         left: -100px
         width: 100%
         height: 100%
         z-index: 1
         @include maxTabletPortrait
            left: -50px
            bottom: -30px
         @include maxMobile
            display: none


   &--gallery
      padding: 0 20px!important
      img
         display: block
         margin-bottom: 20px
         &:first-child
            @include maxTabletPortrait
               display: none
         &:last-child
            margin-bottom: 0 
            @include maxTabletPortrait
               display: none           

   &--certificate
      width: 100%
      max-width: 630px
      margin: 0 auto
      margin-bottom: 35px

      @include maxTabletPortrait
         max-width: 100%
      @include maxMobile
         width: 90%

      &.accordeon-active
         ._c-certifications-accordeons--certificate-title
            &::after
               transform: rotate(180deg)
         ._c-certifications-accordeons--certificate-body
            display: block

   &--certificate-title
      padding-bottom: 10px
      margin-bottom: 20px
      border-bottom: 2px solid
      @include flexCenter
      cursor: pointer
      h3
         font-size: 1.7rem
         margin-right: auto
         user-select: none
         font-family: $tipografia-principal
         font-weight: bold
         @include maxMobile
            font-size: 1.25rem
      &::after
         content: ""
         position: relative
         width: 18px
         height: 18px
         background-image: url('../images/pick-accordeon-prepa.png')
         background-position: center center
         background-repeat: no-repeat
         background-size: 15px
         transition: all .1s linear
         transform: rotate(0)
   &--certificate-body
      display: none
      p
         // font-size: 1.25rem
         line-height: 1.5
         padding: 0
         @include maxMobile
            // font-size: 1.1rem

   &--info
      width: 100%
      max-width: 630px
      padding: 0 10px
      @include minMobile
         margin-left: 50px
      h2
         color: $dark-green
         margin-bottom: 40px
      
   &--infocontent
      ul
         @include minMobile
            padding-left: 40px
         @include maxMobile
            padding-left: 30px
         li
            list-style: disc
            @include minMobile
               margin-bottom: 20px
            @include maxMobile
               margin-bottom: 15px
      
      

      