._c-hero-lobby

   &.accent-profesional
      background-color: $color-profesional-2
      ._c-hero-lobby--pictures
         // @include squareInBefore( absolute, 105px, unset, 100%, $color-profesional-4 )
         // @extend bottom: 0
         // @include minDesktopSize
         //    left: 27%
         // @include squareID( box-2, absolute, 105px, 0, 100%, $color-profesional )
      .decorations
         @include minDesktopSize
            display: block
         position: absolute
         z-index: 2
         bottom: 0
         right: -80px
         width: 50%
         @include squareID( box-1, relative, 105px, unset, unset, $color-profesional-4 )
         @include squareID( box-2, relative, 105px, 0, -105px, $color-profesional )
         span,
         [class*="box-"]
            display: block
   &.accent-profesional-aso
      background-color: $color-profesional-aso
      ._c-hero-lobby--copytext 
         h1
            @include minDesktopSize
               max-width: 100%
      ._c-hero-lobby--pictures
         width: 100%
         max-width: 500px
         margin-left: auto
      .decorations
         width: 100%
         max-width: $container-width
         margin: 0 auto
         left: 0
         right: 0
         height: 100%
         display: none
         // @include minTabletLandscape
         @include flexEndColumnReverse
         position: absolute
         z-index: 2
         bottom: 0
         right: 0
         width: 100%
         @include squareID( box-3, relative, 105px, 0, 105px, $color-profesional-aso-transparent )
         @include squareID( box-1, relative, 105px, 0, 515px, $color-profesional-aso-3 )
         @include squareID( box-2, relative, 105px, 0, 410px, $color-profesional-aso-2 )
         span
            display: block
         .box-1,
         .box-2,
         .box-3
            @include maxDesktopSmall
               width: 50px
               height: 50px
         .box-1
            @include maxDesktopSmall
               right: 50px!important
            @include maxTabletPortrait
               margin-right: 50px!important
         .box-2
            margin-top: auto
            @include maxDesktopSmall
               right: 0
         .box-3
            margin-right: auto
            @include maxDesktopSmall
               right: 0
            
            
   &.accent-profesemestral
      background-color: $color-profesional-semestral
      ._c-hero-lobby--copytext 
         h1
            @include minDesktopSize
               max-width: 100%
      ._c-hero-lobby--pictures
         width: 100%
         max-width: 500px
         margin-left: auto
      .decorations
         width: 100%
         max-width: $container-width
         margin: 0 auto
         left: 0
         right: 0
         height: 100%
         display: none
         // @include minTabletLandscape
         @include flexEndColumnReverse
         position: absolute
         z-index: 2
         bottom: 0
         right: 0
         width: 100%
         @include squareID( box-1, relative, 105px, 0, 515px, $color-profesional-3 )
         @include squareID( box-2, relative, 105px, 0, 410px, $color-profesional-4 )
         span
            display: block
         .box-1,
         .box-2,
         .box-3
            @include maxDesktopSmall
               width: 50px
               height: 50px
         .box-1
            @include maxDesktopSmall
               right: 50px!important
            @include maxTabletPortrait
               margin-right: 50px!important
         .box-2
            margin-top: auto
            @include maxDesktopSmall
               right: 0
         .box-3
            background-color: $color-profesional-2
                           
         // .box-3
         //    margin-right: auto
         //    @include maxDesktopSmall
         //       right: 0
            

   &.accent-prepa
      background-color: $color-prepa
      ._c-hero-lobby--pictures
         // @include minDesktopSize
         //    transform: translateY(20%)
         &::before
            content: ""
            position: absolute
            top: 30%
            left: -30px
            width: 105px
            height: 105px
            z-index: 0
            background-color: $color-prepa-3
            @include minDesktopSize
               left: 27%         

   position: relative
   @include maxDesktopSmall
      padding: 55px 0


   .o-container
      @include minDesktopSize
         height: calc(100vh - 80px)
         max-height: 700px
         min-height: 600px
   &--pictures
      position: relative
      z-index: 100
      @include flexEnd
      @include minDesktopSize
         transform: translateY(20%)
      @include desktopSmallToBig
         transform: translateY(15%)
      @include tabletPortraitToDesktopSmall
         transform: translateY(25%)
      @include maxDesktopSmall
         display: none
      img
         display: block
         position: relative
         z-index: 2
         width: 100%
         max-width: 400px
         &.float-img-hero
            position: absolute
            bottom: 0
            transform: translateX(-95%) translateY(-35%)
            z-index: 3
            // width: unset
            width: 100%
            max-width: 315px

   &--copytext
      position: relative
      z-index: 5
      @include minTabletPortrait
         // margin-top: 70px
         margin: auto 0
      &.col.size-6
         @include maxDesktopSmall
            width: 100%
            max-width: 100%
      @include tabletPortraitToDesktopSmall
         margin-top: 30px
      h1
         @include maxTabletPortrait
            width: 100%
            line-height: 1.1
         @include minDesktopSize
            max-width: 400px
            margin-bottom: 40px
      p
         margin: 20px 0
         line-height: 1.4
         @include minDesktopSize
            max-width: 590px   
            font-size: 1.3rem
            font-weight: 400         
         @include maxMobile
            font-size: 1rem


   .decorations
      display: none
      @include maxTabletPortrait
         display: block
      span
         @include maxTabletPortrait
            position: absolute
            z-index: 1
            width: 50px
            height: 50px
      span.box-1
         @include maxTabletPortrait
            top: 0
            left: 0
            background-color: $color-prepa-3
      span.box-2
         @include maxTabletPortrait
            bottom: 0
            right: 50px
            background-color: $color-prepa-2
      span.box-3
         @include maxTabletPortrait
            bottom: 50px
            right: 0
            background-color: $color-prepa-3            