mixin ctaIntercultural(title, desc, content, icon, bg)
   ._c-cta-intercultural&attributes(attributes)
      ._c-cta-intercultural--picture
         ._c-cta-intercultural--picture-bg
            img(src="../images/" + bg, srcset="../images/" + bg, alt=title)
         ._c-cta-intercultural--picture-inf
            .ico
               img(src="../images/" + icon, srcset="../images/" + icon, alt=title)
            h2=title
      ._c-cta-intercultural--text
         if desc
            p!=desc
         if content
            !=content