._c-certifications-accordeons.accent-prepa
   .o-container
      h2.text-center Obtén certificaciones para tu futuro profesional 

      .o-grid-row._c-certifications-accordeons--grid

         .col.size-5._c-certifications-accordeons--img
            img(src="../images/img-prepa-certifications.jpg", srcset="../images/img-prepa-certifications.jpg", alt="GG")
            
         .col.size-7._c-certifications-accordeons--list.accordeon-init
            ._c-certifications-accordeons--certificate.accordeon-active
               ._c-certifications-accordeons--certificate-title.accordeon-btn
                  h3 Certificación en Tecnología (Python)
               ._c-certifications-accordeons--certificate-body
                  p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.
            ._c-certifications-accordeons--certificate
               ._c-certifications-accordeons--certificate-title.accordeon-btn
                  h3 Certificación en Creatividad e Innovación
               ._c-certifications-accordeons--certificate-body
                  p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.
            ._c-certifications-accordeons--certificate
               ._c-certifications-accordeons--certificate-title.accordeon-btn
                  h3 Certificación en Finanzas Personales
               ._c-certifications-accordeons--certificate-body
                  p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.

