._c-copy-and-picture-color-box.accent-prepa
   .o-container 
   
      ._c-copy-and-picture-color-box--grid
         ._c-copy-and-picture-color-box--textbox
            h2 ¡Nuestros estudiantes siempre estarán acompañados! 
            p Sabemos lo difícil que puede ser esta etapa de la vida. Por eso, en Prepa Tecmilenio tenemos #[strong un modelo de acompañamiento] apreciativo. 
            ul
               li 
                  span La mentora o el mentor ofrecen orientación, apoyo, ayuda y asesoramiento en el proceso de autodescubrimiento y educación. 
               li 
                  span Este modelo es una práctica que les ayudará a optimizar sus experiencias en la preparatoria y alcanzar sus sueños y metas.


         ._c-copy-and-picture-color-box--img
            img(src="../../images/img-prepa-preview-2.jpg", srcset="../../images/img-prepa-preview-2.jpg", alt="Prepa")
