._c-cta-intercultural.accent-prepa
   ._c-cta-intercultural--picture
      ._c-cta-intercultural--picture-bg
         img(src="../../images/img-banner-prepa-internacional.jpg", srcset="../../images/img-banner-prepa-internacional.jpg", alt="FF")
      ._c-cta-intercultural--picture-inf
         .ico
            img(src="../../images/icon-prod-tab-head.png", srcset="../../images/icon-prod-tab-head.png")
         h2 Vive diferentes experiencias interculturales
   ._c-cta-intercultural--text
      p #[strong Enriquece tu experiencia personal] conociendo, conviviendo y #[strong aprendiendo de otras culturas], a través de diferentes programas interculturales que te permitirán desarrollar nuevas habilidades para:
      ul
         li 
            span Aprender un nuevo idioma 
         li 
            span Conocer más tus fortalezas
         li 
            span Desarrollar tu autonomía 
         li 
            span Sensibilizarte y ampliar tu visión
      a.o-btn.btn-outline(href="#!") Quiero conocerlas