
<section class="_c-events-list">
  <div class="o-container"> 
    <h2 class="text-center text-uppercase color-aqua-dark">¡No te pierdas nuestros próximos eventos!</h2>
    <div class="o-grid-row">
      <div class="col size-3">
        <div class="_c-events-list--event">
          <div class="_c-events-list--picture"><a href="#!"><img class="img-responsive" src="../images/event-1.jpg" alt="" srcset="../images/event-1.jpg"/></a></div>
          <div class="_c-events-list--information">
            <h3><a href="#!">Wellbeing 360</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p><a class="o-btn btn-solid bg-aqua-dark" href="#!">Conoce más</a>
          </div>
        </div>
      </div>
      <div class="col size-3">
        <div class="_c-events-list--event">
          <div class="_c-events-list--picture"><a href="#!"><img class="img-responsive" src="../images/event-2.jpg" alt="" srcset="../images/event-2.jpg"/></a></div>
          <div class="_c-events-list--information">
            <h3><a href="#!">Semana de la Felicidad</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p><a class="o-btn btn-solid bg-aqua-dark" href="#!">Conoce más</a>
          </div>
        </div>
      </div>
      <div class="col size-3">
        <div class="_c-events-list--event">
          <div class="_c-events-list--picture"><a href="#!"><img class="img-responsive" src="../images/event-3.jpg" alt="" srcset="../images/event-3.jpg"/></a></div>
          <div class="_c-events-list--information">
            <h3><a href="#!">Open House Prepa</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p><a class="o-btn btn-solid bg-aqua-dark" href="#!">Conoce más</a>
          </div>
        </div>
      </div>
      <div class="col size-3">
        <div class="_c-events-list--event">
          <div class="_c-events-list--picture"><a href="#!"><img class="img-responsive" src="../images/event-4.jpg" alt="" srcset="../images/event-4.jpg"/></a></div>
          <div class="_c-events-list--information">
            <h3><a href="#!">20 años </a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p><a class="o-btn btn-solid bg-aqua-dark" href="#!">Conoce más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>