
<section class="_c-edu-levels">
  <div class="o-container">
    <div class="_c-edu-levels--intro">
      <h2>Estudia en Tecmilenio y sé un Halcón</h2>
      <p>Al continuar tu formación académica con nosotros podrás vivir un modelo educativo único que te inspirará a descubrir y cumplir tu Propósito de Vida, 9 de cada 10 de nuestros estudiantes logran obtener un empleo al graduarse.</p>
    </div>
    <div class="_c-edu-levels--gridLevels">
      <div class="o-grid-row"> 
        <div class="col size-3">
          <div class="_c-edu-levels--level">
            <div class="_c-edu-levels--pictureLevel"><img class="img-responsive" src="../images/img-level-prepa.png" alt="" srcset="../images/img-level-prepa.png"/></div>
            <div class="_c-edu-levels--infoLevel nvl-prepa">
              <h3>Preparatoria</h3>
              <p>Encuentra un acompañamiento y una experiencia intercultural que expanda tu horizonte profesional y elije la mejor opción para ti.</p><a class="o-btn btn-solid bg-dark-green" href="#!">Conoce más                  </a>
            </div>
          </div>
        </div>
        <div class="col size-3">
          <div class="_c-edu-levels--level">
            <div class="_c-edu-levels--pictureLevel"><img class="img-responsive" src="../images/img-level-profe.png" alt="" srcset="../images/img-level-profe.png"/></div>
            <div class="_c-edu-levels--infoLevel nvl-profe">
              <h3>Universidad</h3>
              <p>Descubre nuestras carrerasque te llevarán a crecer laboralmente con algunas de las más de 4 mil 500 empresas aliadas.</p><a class="o-btn btn-solid bg-dark-green" href="#!">Conoce más                  </a>
            </div>
          </div>
        </div>
        <div class="col size-3">
          <div class="_c-edu-levels--level">
            <div class="_c-edu-levels--pictureLevel"><img class="img-responsive" src="../images/img-level-posgrado.png" alt="" srcset="../images/img-level-posgrado.png"/></div>
            <div class="_c-edu-levels--infoLevel nvl-posgrado">
              <h3>Posgrado</h3>
              <p>Continúa tus estudios y únete a los más de 140 mil egresados que incrementan sus habilidades y competencias.</p><a class="o-btn btn-solid bg-dark-green" href="#!">Conoce más                  </a>
            </div>
          </div>
        </div>
        <div class="col size-3">
          <div class="_c-edu-levels--level">
            <div class="_c-edu-levels--pictureLevel"><img class="img-responsive" src="../images/img-level-cdc.png" alt="" srcset="../images/img-level-cdc.png"/></div>
            <div class="_c-edu-levels--infoLevel nvl-cdc">
              <h3>CDC</h3>
              <p>Descubre nuestras carrerasque te llevarán a crecer laboralmente con algunas de las más de 4 mil 500 empresas aliadas.</p><a class="o-btn btn-solid bg-dark-green" href="#!">Conoce más  </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>