mixin explorationRoutes( title, subtitle, routesinhtml )
   section._c-exploration-routes.accent-prepa
      .o-container
         ._c-exploration-routes--intro
            h2=title
            if subtitle
               p!=subtitle

         .o-grid-row._c-exploration-routes--grid.accordeon-init

            if routesinhtml
               !=routesinhtml
         

