
<div class="_c-exatecmi-home">
  <div class="o-container">
    <div class="_c-exatecmi-home--intro text-center">
      <h2 class="color-dark-green text-uppercase">Conoce las historias de éxito de la comunidad EXATECMI</h2>
      <p>Sé parte de las y los egresados de Tecmilenio, comparte tu historia e inspira a más personas a cumplir su Propósito de Vida. </p>
    </div>
    <div class="_c-exatecmi-home--grid">
      <div class="o-grid-row row-center">
        <div class="col size-4">
          <div class="_c-exatecmi-home--exatecmicard">
            <div class="_c-exatecmi-home--person"><img src="../../images/exatecmi-1.jpg" alt="" srcset="../../images/exatecmi-1.jpg"/></div>
            <div class="_c-exatecmi-home--copy">
              <h3>Nombre Apellido</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p><a class="o-btn btn-outline" href="#!">Conoce más</a>
            </div>
          </div>
        </div>
        <div class="col size-4">
          <div class="_c-exatecmi-home--exatecmicard">
            <div class="_c-exatecmi-home--person"><img src="../../images/exatecmi-1.jpg" alt="" srcset="../../images/exatecmi-1.jpg"/></div>
            <div class="_c-exatecmi-home--copy">
              <h3>Nombre Apellido</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p><a class="o-btn btn-outline" href="#!">Conoce más</a>
            </div>
          </div>
        </div>
        <div class="col size-4">
          <div class="_c-exatecmi-home--exatecmicard">
            <div class="_c-exatecmi-home--person"><img src="../../images/exatecmi-1.jpg" alt="" srcset="../../images/exatecmi-1.jpg"/></div>
            <div class="_c-exatecmi-home--copy">
              <h3>Nombre Apellido</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p><a class="o-btn btn-outline" href="#!">Conoce más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>