._c-events-in-career-section.accent-prepa
   .o-container
      ._c-events-in-career-section--intro
         h2 Algunos eventos que se viven en prepa tecmilenio
         p Al estudiar alguna de las carreras cortas en Tecmilenio, porás vivir actividaes que te ayudarán a seguir conociendo gente, conectar con la #[strong comunidad Tecmilenio] y participar en los eventos que tenemos a nivel nacional como:

      ._c-events-in-career-section--slidepart
         ._c-events-in-career-section--slideitm
            ._c-events-in-career-section--eventbox
               ._c-events-in-career-section--eventpic
                  img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
               ._c-events-in-career-section--eventinf
                  h3 Semana de #[br] la Felicidad 
                  p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.   
         ._c-events-in-career-section--slideitm
            ._c-events-in-career-section--eventbox
               ._c-events-in-career-section--eventpic
                  img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
               ._c-events-in-career-section--eventinf
                  h3 Esports
                  p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.
         ._c-events-in-career-section--slideitm
            ._c-events-in-career-section--eventbox
               ._c-events-in-career-section--eventpic
                  img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
               ._c-events-in-career-section--eventinf
                  h3 FIRST Robotics#[br]Competition
                  p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.

      ._c-events-in-career-section--slidenavs
         ._c-events-in-career-section--nav.prev
            img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")
         ._c-events-in-career-section--nav.next
            img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")




