mixin eventsInCareer(title, subtitle, content)
   ._c-events-in-career-section.accent-prepa
      .o-container
         ._c-events-in-career-section--intro
            h2=title
            p!=subtitle
         ._c-events-in-career-section--slidepart!=content