section._c-exploration-routes.accent-prepa
   .o-container
      ._c-exploration-routes--intro
         h2 Preparamos a nuestros estudiantes para dar su siguiente paso
         p Nuestros(as) estudiantes de preparatoria experimentarán una área de interés con #[strong nuestras Rutas de Exploración].

      .o-grid-row._c-exploration-routes--grid.accordeon-init
         
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
         
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
         
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
         
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
         
         .col.size-4
            ._c-exploration-routes--route
               ._c-exploration-routes--routehead
                  ._c-exploration-routes--routeact.accordeon-btn
                     h3 Marketing Digital
                     span NEGOCIOS
                  ._c-exploration-routes--routeimg
                     img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
               ._c-exploration-routes--routebody.accordeon-box
                  p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 


