section._c-intro-producto.variant-grid.accent-green
   .o-container
      .o-grid-row.row-center
         .col.size-12
            ._c-intro-producto--icons-boxes.grid-four
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Modalidad 
                     p 
                        span Connect
                        span Online
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Plan
                     p 
                        span Tetramestral
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Duración
                     p 
                        span 3 años
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Idioma
                     p 
                        span Español
