section._c-icons-grid.type-numbers
   .o-container
      .o-grid-row
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-1.svg", alt="Innovacion", srcset="../images/svg/icon-num-1.svg")
               ._c-icons-grid--icon-inf
                  h3 +#[span 61]k
                  p Alumnos
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-2.svg", alt="Innovacion", srcset="../images/svg/icon-num-2.svg")
               ._c-icons-grid--icon-inf
                  h3 #[span 36]
                  p Campus
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-3.svg", alt="Innovacion", srcset="../images/svg/icon-num-3.svg")
               ._c-icons-grid--icon-inf
                  h3 #[span 00]
                  p Alianzas
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-4.svg", alt="Innovacion", srcset="../images/svg/icon-num-4.svg")
               ._c-icons-grid--icon-inf
                  h3 #[span 00]
                  p Reconocimientos
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-5.svg", alt="Innovacion", srcset="../images/svg/icon-num-5.svg")
               ._c-icons-grid--icon-inf
                  h3 +#[span 140]k
                  p EXATECMI
         .col
            ._c-icons-grid--icondot
               ._c-icons-grid--icon-img 
                  img.img-responsive(src="../images/svg/icon-num-6.svg", alt="Innovacion", srcset="../images/svg/icon-num-6.svg")
               ._c-icons-grid--icon-inf
                  h3 49
                  p Programas Académicos