section._c-intro-producto.accent-green
   .o-container
      .o-grid-row.row-center
         .col.size-6
            ._c-intro-producto--info
               p Sabemos que el mundo ha cambiado, por eso hemos creado el plan de estudios de #[strong Prepa Intercultural Tecmilenio, con un programa académico que ayuda a las y los estudiantes a descubrir su vocación y adquirir las bases para su carrera profesional], mientras reciben acompañamiento en el descubrimiento de su Propósito de Vida.
               p #[strong En Prepa Intercultural Tecmilenio] nuestros(as) estudiantes desarrollan la competencia en el idioma inglés, que le dará el acceso a mayores oportunidades en su futuro profesional. 
               a.o-btn.btn-solid(href="#!") ¡Quiero conocer más!
         .col.size-6
            ._c-intro-producto--icons-boxes
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Modalidad 
                     p Presencial
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Plan
                     p Semestral
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Duración
                     p 3 años
               ._c-intro-producto--ico-box
                  ._c-intro-producto--ico
                     img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                  ._c-intro-producto--text
                     h3 Idioma
                     p Español
