
<section class="_c-news-section">
  <div class="o-container">
    <h2 class="text-center color-dark-green text-uppercase">¡Entérate de las últimas noticias de Tecmilenio!</h2>
    <div class="o-grid-row row-center">
      <div class="col size-6">
        <div class="_c-news-section--new">
          <div class="_c-news-section--new--picture"><img class="img-responsive" src="../../images/new-1.jpg" alt="" srcset="../../images/new-1.jpg"/></div>
          <div class="_c-news-section--new--preview">
            <h3><a href="#!">¿Cuál es la diferencia?</a></h3>
            <p>
              <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</Lorem>
            </p><a class="o-btn btn-solid bg-dark-green" href="#!">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col size-6">
        <div class="_c-news-section--new">
          <div class="_c-news-section--new--picture"><img class="img-responsive" src="../../images/new-1.jpg" alt="" srcset="../../images/new-1.jpg"/></div>
          <div class="_c-news-section--new--preview">
            <h3><a href="#!">Alumnos Tecmilenio</a></h3>
            <p>
              <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</Lorem>
            </p><a class="o-btn btn-solid bg-dark-green" href="#!">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col size-6">
        <div class="_c-news-section--new">
          <div class="_c-news-section--new--picture"><img class="img-responsive" src="../../images/new-1.jpg" alt="" srcset="../../images/new-1.jpg"/></div>
          <div class="_c-news-section--new--preview">
            <h3><a href="#!">Tecmilenio logra un premio de liderazgo</a></h3>
            <p>
              <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</Lorem>
            </p><a class="o-btn btn-solid bg-dark-green" href="#!">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col size-6">
        <div class="_c-news-section--new">
          <div class="_c-news-section--new--picture"><img class="img-responsive" src="../../images/new-1.jpg" alt="" srcset="../../images/new-1.jpg"/></div>
          <div class="_c-news-section--new--preview">
            <h3><a href="#!">Profesores de Tecmilenio son</a></h3>
            <p>
              <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</Lorem>
            </p><a class="o-btn btn-solid bg-dark-green" href="#!">Leer más</a>
          </div>
        </div>
      </div>
    </div><a class="o-btn bg-solid bg-aqua-dark btn-seeall" href="#!">Ver más</a>
  </div>
</section>