
<section class="_c-picture-with-copy">
  <div class="o-container">
    <div class="o-grid-row row-center">
      <div class="col size-6">
        <div class="_c-picture-with-copy--picture"><img class="img-responsive" src="../images/img-home-1.jpg" alt="Img Home" srcset="../images/img-home-1.jpg"/></div>
      </div>
      <div class="col size-6">
        <div class="_c-picture-with-copy--copy">
          <div class="square"></div>
          <h2>¡Estás en el mejor lugar para convertirte en eso que quieres ser!</h2>
          <h3>Forma parte de nuestra visión y transformemos el mundo.</h3>
          <p>Somos personas positivas que cumplen su Propósito de Vida. <br/> Nos apasiona contribuir a tu felicidad mediante un acompañamiento cercano y proporcionarte herramientas de autoconocimiento para que adoptes los hábitos que te conduzcan al bienestar integral en todas sus dimensiones: intelectual, ocupacional, financiero, físico, emocional, espiritual y social. </p>
        </div>
      </div>
    </div>
    <div class="_c-picture-with-copy--footer">
      <div class="o-grid-row">
        <div class="col"><img src="../images/img-home-2.jpg" alt="Home" srcset="../images/img-home-2.jpg"/>
          <div class="square"></div>
        </div>
      </div>
    </div>
  </div>
</section>