section._c-plan-de-estudios
   .o-container
      h2.text-center.color-dark-green Plan de estudios de Prepa Intercultural Tecmilenio

      ._c-plan-de-estudios--content
         .o-grid-row
            .col.size-9
               img.img-responsive(src="../images/plan-estudios-demo.png", srcset="../images/plan-estudios-demo.png", alt="demo")
            .col.size-3._c-plan-de-estudios--percentageboxes.accent-prepa
               ._c-plan-de-estudios--box
                  p 33%
                  span Certificados y especialidades
               ._c-plan-de-estudios--box
                  p 18%
                  span Formación personal
               ._c-plan-de-estudios--box
                  p 49%
                  span Formación carrera


         a.o-btn.btn-solid.bg-dark-green(href="#!") Descargar Plan