mixin pictureWithCopyExtendInfo( img1, img2, title, subtitle, content )
	section._c-picture-with-copy.extended-info&attributes(attributes)
		.o-container
			.o-grid-row
				.col.size-6
					._c-picture-with-copy--picture
						img(src="../images/" + img1, srcset="../images/" + img1).img-responsive
					if img2 != null
						._c-picture-with-copy--footer
							img(src="../images/" + img2, srcset="../images/" + img2)
							.square
				.col.size-6
					._c-picture-with-copy--copy
						.square.first
						//- .square.second
						h2!=title
						p!=subtitle
						!=content