section._c-start-of-classes-cta
   .o-container
      .o-grid-row.row-center
         .col.size-4
            ._c-start-of-classes-cta--intro
               img(src="../images/svg/ico-notif-svg.svg", alt="")
               h2.title-acento Próximo#[br] inicio de clases
         .col.size-4
            ._c-start-of-classes-cta--dates
               ._c-start-of-classes-cta--date
                  p Tetramestral
                     span Enero 2023
               ._c-start-of-classes-cta--date
                  p Semestral
                     span Enero 2023
         .col.size-4
            ._c-start-of-classes-cta--actions
               a.o-btn.btn-ico.btn-outline.outline-aqua-dark.aqua-dark-color.ico-admision(href="#!") 
                  | Admisiones
               a.o-btn.btn-ico.btn-outline.outline-aqua-dark.aqua-dark-color.ico-informacion(href="#!")
                  | Información