section._c-slide-slick-imgside.variant-center
   ._c-slide-slick-imgside--background 
      img(src="../images/bg-benefits-profesional.jpg", alt="", srcset="../images/bg-benefits-profesional.jpg")


   .o-container
      ._c-slide-slick-imgside--intro
         h2.color-dark-green.text-uppercase 4 beneficios exclusivos de las carreras profesionales de Tecmilenio
         //- p Selecciona la modalidad que se adapte a tu estilo de vida, a tus objetivos profesionales y que beneficie más tus necesidades de aprendizaje.

      ._c-slide-slick-imgside--modalidadesNav
         .modalidadNav.prev
            img(src="../images/svg/arrow-green-pastel.svg", alt="", srcset="../images/svg/arrow-green-pastel.svg")
         .modalidadNav.next
            img(src="../images/svg/arrow-green-pastel.svg", alt="", srcset="../images/svg/arrow-green-pastel.svg")


      ._c-slide-slick-imgside--modalidadesList
         .item-modalidad
            ._c-slide-slick-imgside--modalidad
               ._c-slide-slick-imgside--modalidad-ico
                  img(src="../images/modalidad-1.png", alt="", srcset="../images/modalidad-1.png")
               ._c-slide-slick-imgside--modalidad-info
                  h3 Presencial
                  p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                  a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

         .item-modalidad
            ._c-slide-slick-imgside--modalidad
               ._c-slide-slick-imgside--modalidad-ico
                  img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
               ._c-slide-slick-imgside--modalidad-info
                  h3 Online
                  p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                  a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

         .item-modalidad
            ._c-slide-slick-imgside--modalidad
               ._c-slide-slick-imgside--modalidad-ico
                  img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
               ._c-slide-slick-imgside--modalidad-info
                  h3 Connect
                  p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                  a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

         .item-modalidad
            ._c-slide-slick-imgside--modalidad
               ._c-slide-slick-imgside--modalidad-ico
                  img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
               ._c-slide-slick-imgside--modalidad-info
                  h3 Autodirigido
                  p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                  a.o-btn.btn-outline.color-dark-green(href="#!") Leer más
