
<section class="_c-start-of-classes-cta">
  <div class="o-container">
    <div class="o-grid-row row-center">
      <div class="col size-4">
        <div class="_c-start-of-classes-cta--intro"><img src="../images/svg/ico-notif-svg.svg" alt=""/>
          <h2 class="title-acento">Próximo<br/> inicio de clases</h2>
        </div>
      </div>
      <div class="col size-4">
        <div class="_c-start-of-classes-cta--dates">
          <div class="_c-start-of-classes-cta--date">
            <p>Tetramestral<span>Enero 2023</span></p>
          </div>
          <div class="_c-start-of-classes-cta--date">
            <p>Semestral<span>Enero 2023</span></p>
          </div>
        </div>
      </div>
      <div class="col size-4">
        <div class="_c-start-of-classes-cta--actions"><a class="o-btn btn-ico btn-outline outline-aqua-dark aqua-dark-color ico-admision" href="#!">
             Admisiones</a><a class="o-btn btn-ico btn-outline outline-aqua-dark aqua-dark-color ico-informacion" href="#!">Información</a></div>
      </div>
    </div>
  </div>
</section>