//- Extend template global
extends layout/_template


block contenido
   link(rel="stylesheet", href="../css/slick.css")
   link(rel="stylesheet", href="../css/slick-theme.css")
   link(rel="stylesheet", href="../css/slick-lightbox.css")

   main

      include layout/_header

      include components/_c-hero-home-component
      include components/_c-start-of-classes-cta
      include components/_c-picture-with-copy
      include components/_c-icons-grid-type-transparent
      include components/_c-edu-levels                
      include components/_c-icons-grid-type-numbers
      include components/_c-modalidades-grid
      include components/_c-installations-overview
      include components/_c-banner-cta-bg-picture
      include components/_c-exatecmi-home
      section._c-picture-with-copy
         .o-container
            .o-grid-row.row-center
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/img-sample-1.jpg", alt="Img Home", srcset="../images/img-sample-1.jpg").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     h2 Reserva tu lugar y no te quedes fuera
                     br
                     p Si ya lo tienes claro #[strong ¡aparta tu lugar con nosotros!]
                     br
                     p Los pasos para que te integres y continúes en tu siguiente etapa son sencillos, si ya estás listo para #[strong continuar con tu desarrollo], consulta la papelería que necesitas y comienza a construir tu camino con nosotros.
                     br
                     br
                     a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Hecho! ¿Qué necesito?
      include components/_c-banner-cta
      include components/_c-events-list
      include components/_c-news-section
      include components/_c-instagram-grid

      include layout/_footer

      script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
      script(src="../js/global.js")
      script(src="../js/slick.min.js")
      script(src="../js/slick-lightbox.min.js")


      script.
         // Carousel for modalidades
         $('._c-modalidades-grid ._c-modalidades-grid--modalidadesList').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            centerMode: true,
            variableWidth: true,
            prevArrow: '.modalidadNav.prev',
            nextArrow: '.modalidadNav.next'
         });
          $('._c-installations-overview--gallery-grid').slickLightbox({
            lazy: true
          });






