//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']
block contenido
   main
      include layout/_header
      include components/profesionalaso/_c-hero-lobby-profesional-aso
      include components/_c-intro-producto-variant

      section._c-careers-list-in-level.accent-profeaso
         .o-container
            ._c-careers-list-in-level--intro
               h2 Profesional Asociado: las carreras cortas de Tecmilenio

            ._c-careers-list-in-level--list.accordeon-init

               ._c-careers-list-in-level--itm

                  ._c-careers-list-in-level--itm-accordeon
                     ._c-careers-list-in-level--info
                        ._c-careers-list-in-level--title.accordeon-btn
                           h3 
                              a(href="#!") Profesional Asociado en Administración de Negocios
                        ._c-careers-list-in-level--body
                           p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más
                     ._c-careers-list-in-level--picture
                        img(src="../images/img-career-nutri.jpg", srcset="../images/img-career-nutri.jpg", alt="Carrera")
               
               ._c-careers-list-in-level--itm
                  ._c-careers-list-in-level--itm-accordeon
                     ._c-careers-list-in-level--info
                        ._c-careers-list-in-level--title.accordeon-btn
                           h3 
                              a(href="#!") Profesional asociado en Desarrollo de software
                        ._c-careers-list-in-level--body
                           p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más
                     ._c-careers-list-in-level--picture
                        img(src="../images/img-career-nutri.jpg", srcset="../images/img-career-nutri.jpg", alt="Carrera")

               ._c-careers-list-in-level--itm
                  ._c-careers-list-in-level--itm-accordeon
                     ._c-careers-list-in-level--info
                        ._c-careers-list-in-level--title.accordeon-btn
                           h3 
                              a(href="#!") Profesional asociado en Administración en salud*
                        ._c-careers-list-in-level--body
                           p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más
                     ._c-careers-list-in-level--picture
                        img(src="../images/img-career-nutri.jpg", srcset="../images/img-career-nutri.jpg", alt="Carrera")
               
               ._c-careers-list-in-level--itm
                  ._c-careers-list-in-level--itm-accordeon
                     ._c-careers-list-in-level--info
                        ._c-careers-list-in-level--title.accordeon-btn
                           h3 
                              a(href="#!") Profesional asociado en Turismo
                        ._c-careers-list-in-level--body
                           p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más
                     ._c-careers-list-in-level--picture
                        img(src="../images/img-career-nutri.jpg", srcset="../images/img-career-nutri.jpg", alt="Carrera")


      section._c-slide-slick-imgside
         ._c-slide-slick-imgside--background 
            img(src="../images/bg-modalidades-grid.jpg", alt="", srcset="../images/bg-modalidades-grid.jpg")

         .o-container
            ._c-slide-slick-imgside--intro
               h2.color-dark-green 3 beneficios exclusivos de Profesional Asociado Tecmilenio

            ._c-slide-slick-imgside--modalidadesNav
               .modalidadNav.prev
                  img(src="../images/svg/arrow-green-pastel.svg", alt="", srcset="../images/svg/arrow-green-pastel.svg")
               .modalidadNav.next
                  img(src="../images/svg/arrow-green-pastel.svg", alt="", srcset="../images/svg/arrow-green-pastel.svg")


            ._c-slide-slick-imgside--modalidadesList

               .item-modalidad
                  ._c-slide-slick-imgside--modalidad
                     ._c-slide-slick-imgside--modalidad-ico
                        img(src="../images/modalidad-1.png", alt="", srcset="../images/modalidad-1.png")
                     ._c-slide-slick-imgside--modalidad-info
                        h3 Presencial
                        p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                        a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

               .item-modalidad
                  ._c-slide-slick-imgside--modalidad
                     ._c-slide-slick-imgside--modalidad-ico
                        img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
                     ._c-slide-slick-imgside--modalidad-info
                        h3 Online
                        p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                        a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

               .item-modalidad
                  ._c-slide-slick-imgside--modalidad
                     ._c-slide-slick-imgside--modalidad-ico
                        img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
                     ._c-slide-slick-imgside--modalidad-info
                        h3 Connect
                        p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                        a.o-btn.btn-outline.color-dark-green(href="#!") Leer más

               .item-modalidad
                  ._c-slide-slick-imgside--modalidad
                     ._c-slide-slick-imgside--modalidad-ico
                        img(src="../images/ico-modalidad-2.png", alt="", srcset="../images/ico-modalidad-2.png")
                     ._c-slide-slick-imgside--modalidad-info
                        h3 Autodirigido
                        p Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] 
                        a.o-btn.btn-outline.color-dark-green(href="#!") Leer más


      section._c-copy-and-picture-color-box.accent-profeaso
         .o-container   
            ._c-copy-and-picture-color-box--grid
               ._c-copy-and-picture-color-box--textbox
                  h2 Lo que diferencia a nuestras carreras cortas
                  ._c-copy-and-picture-color-box--acordeon-section.accordeon-init
                     ._c-copy-and-picture-color-box--acordeon.accordeon-active
                        ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                           h3 Acompañamiento
                        ._c-copy-and-picture-color-box--acordeon-body
                           p Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.
                     ._c-copy-and-picture-color-box--acordeon
                        ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                           h3 Competencias esenciales
                        ._c-copy-and-picture-color-box--acordeon-body
                           p Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.
                     ._c-copy-and-picture-color-box--acordeon
                        ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                           h3 Desarrollo del idioma inglés
                        ._c-copy-and-picture-color-box--acordeon-body
                           p Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.
                     ._c-copy-and-picture-color-box--acordeon
                        ._c-copy-and-picture-color-box--acordeon-title.accordeon-btn
                           h3 Vivencia Estudiantil
                        ._c-copy-and-picture-color-box--acordeon-body
                           p Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.

               ._c-copy-and-picture-color-box--img
                  img(src="../../images/img-prepa-preview-2.jpg", srcset="../../images/img-prepa-preview-2.jpg", alt="Prepa")


      section._c-sectionandbox.accent-profaso
         .o-container
            ._c-sectionandbox--title
               h2 ¡Aprovecha las clases a tu manera!
               p El diseño de nuestros programas hará que vivas una experiencia flexible, innovadora y diferente. Desarrolla tus competencias a través de diferentes modalidades como:

            .o-grid-row
               .col.size-xs-12.size-sm-6.size-6
                  ._c-sectionandbox--listobjs
                     ._c-sectionandbox--objpic
                        img(src="../images/img-secitonobjs-pa.png", srcset="../images/img-secitonobjs-pa.png")
                     ._c-sectionandbox--objinf
                        h3 Autodirigida
                        p Gestiona tu aprendizaje según tus ritmos, tu agenda y tus necesidades con el apoyo de asesores y asesoras que te acompañarán durante tus estudios.
               .col.size-xs-12.size-sm-6.size-6
                  ._c-sectionandbox--listobjs
                     ._c-sectionandbox--objpic
                        img(src="../images/img-secitonobjs-pa.png", srcset="../images/img-secitonobjs-pa.png")
                     ._c-sectionandbox--objinf
                        h3 Connect
                        p Toma clases virtuales en vivo o consúltalas grabadas posteriormente, para que cumplas con tus fechas de entrega.

      
      
      include components/_c-cta-intercultural

      section._c-graduate-grid.accent-profaso
         .o-container
            h2.text-center Al estudiar una carrera de Profesional Asociado Tecmilenio, vivirás experiencias como:
            .o-grid-row
               .col.size-4
                  ._c-graduate-grid--icograduate
                     ._c-graduate-grid--ico
                        img(src="./images/img-pa-1.png", alt="", srcset="./images/img-pa-1.png")
                     ._c-graduate-grid--copy
                        p Study Tours 
                        br
                        a.o-btn.btn-outline(href="#!") Ver más                        
               .col.size-4
                  ._c-graduate-grid--icograduate
                     ._c-graduate-grid--ico
                        img(src="./images/img-pa-1.png", alt="", srcset="./images/img-pa-1.png")
                     ._c-graduate-grid--copy
                        p Intercambios virtuales
                        br
                        a.o-btn.btn-outline(href="#!") Ver más                        
               .col.size-4
                  ._c-graduate-grid--icograduate
                     ._c-graduate-grid--ico
                        img(src="./images/img-pa-1.png", alt="", srcset="./images/img-pa-1.png")
                     ._c-graduate-grid--copy
                        p Proyectos colaborativos
                        br
                        a.o-btn.btn-outline(href="#!") Ver más
            h2.text-center ¡Imagina lo que estas experiencias traerán a tu vida!


      section._c-events-in-career-section.accent-profeaso
         .o-container
            ._c-events-in-career-section--intro
               h2 Conoce nuestras actividades extracurriculares
               p Al estudiar alguna de nuestras carreras de Profesional Asociado, podrás vivir actividades que te ayudarán a conocer nuevas personas y conectar con la comunidad #[strong Tecmilenio], mientras participas en eventos a nivel nacional como:

            ._c-events-in-career-section--slidepart
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 Semana de #[br] la Felicidad 
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.   
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 Esports
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 FIRST Robotics#[br]Competition
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.

            ._c-events-in-career-section--slidenavs
               ._c-events-in-career-section--nav.prev
                  img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")
               ._c-events-in-career-section--nav.next
                  img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")

      section._c-events-list.variant-three
         .o-container 
            h2.text-center.text-uppercase Estamos comprometidos con tu proyección profesional
            p.text-center Tendrás acceso a los diferentes programas que fortalecerán tus habilidades para tu crecimiento profesional.
            #events-list-id.o-grid-row.row-center
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-1.jpg", alt="", srcset="../images/event-1.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Wellbeing 360]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-2.jpg", alt="", srcset="../images/event-2.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Semana de la Felicidad]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-3.jpg", alt="", srcset="../images/event-3.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Open House Prepa]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más

      section._c-banner-cta.bg-color-profe-aso-2
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/burbuja-de-dialogo 4.png", alt="", srcset="../images/burbuja-de-dialogo 4.png")
               h2 Si tienes alguna duda, escríbenos.
            ._c-banner-cta--info
               p Nos contactaremos contigo para ayudarte y que tomes la mejor decisión para que construyas tu historia con nosotros.
            ._c-banner-cta--sesionInfo
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información

      include layout/_footer

      script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
      script(src="../js/global.js")
      script(src="../vendor/slick.min.js")
      script(src="../vendor/slick-lightbox.min.js")


      script.
      
         // Body width size
         const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

         // Accordeon 
         accordeonSection( '._c-copy-and-picture-color-box' )
         

         // === Carousel scripts === 

         // Carousel for modalidades
         $('._c-slide-slick-imgside ._c-slide-slick-imgside--modalidadesList').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            centerMode: true,
            variableWidth: true,
            prevArrow: '.modalidadNav.prev',
            nextArrow: '.modalidadNav.next'
         });      

         if ( widthDevice >= 1140 ){
            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               arrows: false,
               dots: false,
               infinite: false,
               speed: 300,
               slidesToShow: 3,
            });
         }

         if ( (widthDevice >= 740) && (widthDevice < 1140) ){
            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               dots: true,
               infinite: false,
               speed: 300,
               slidesToShow: 2,
               prevArrow: $('._c-events-in-career-section--nav.prev'),
               nextArrow: $('._c-events-in-career-section--nav.next')
            });
         }

         if ( widthDevice < 960 ){
            accordeonCareers( '._c-careers-list-in-level' );
         }

         if ( widthDevice < 740 ){

            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               dots: true,
               infinite: true,
               speed: 300,
               slidesToShow: 1,
               prevArrow: $('._c-events-in-career-section--nav.prev'),
               nextArrow: $('._c-events-in-career-section--nav.next')
            });
         }
