//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   //- -page['libsCss']	= ['slick','slick-theme','slick-lightbox']

block contenido
   main

      include layout/_header
      include components/preparatoria/_c-hero-lobby-prepa

      section._c-picture-with-copy.prepa-information
         .o-container
            .o-grid-row.row-reverse.m-b-100
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/prepa-img-end-1.png" alt="Img Prepa" srcset="../images/prepa-img-end-1.png").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     h2.color-prepa ¿Cómo iniciar tu proceso de admisión de prepa tecmilenio?
                     br
                     p Te invitamos a consultar el proceso de admisión y la documentación requerida para comenzar a construir tu camino con nosotros. 
                     br
                     br
                     a.o-btn.btn-solid.bg-dark-green(href="#!") ¡Conoce más aquí!
            .o-grid-row
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/prepa-img-end.png" alt="Img Prepa" srcset="../images/prepa-img-end.png").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     h2.color-prepa Becas y Financiamiento
                     br
                     p Entendemos que a veces la situación económica puede ser cambiante y eso puede ser un impedimento para seguir estudiando. Por ello, en Tecmilenio contamos con programas de becas y financiamiento para que continúes con tu desarrollo.
                     br
                     br
                     a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más información
      section._c-banner-cta.bg-color-prepa-prepa
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/dialogo-dark-green.png", alt="", srcset="../images/dialogo-dark-green.png")
               h2 Si tienes alguna duda, escríbenos aquí.
            ._c-banner-cta--info
               p Nos contactaremos contigo para ayudarte a tomar la mejor decisión y que construyas tu camino con nosotros.
            ._c-banner-cta--sesionInfo
               //- h4 Horario de atención 9:00am a 6:30pm
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información
      include layout/_footer

      script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
      script(src="../js/global.js")
      script(src="../vendor/slick.min.js")
      script(src="../vendor/slick-lightbox.min.js")


      script.
      
         // Body width size
         const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

         // === Carousel scripts === 

         // Carousel for modalidades
         $('._c-modalidades-grid ._c-modalidades-grid--modalidadesList').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            centerMode: true,
            variableWidth: true,
            prevArrow: '.modalidadNav.prev',
            nextArrow: '.modalidadNav.next'
         });
         $('._c-installations-overview--gallery-grid').slickLightbox({
            lazy: true
         });


         // Range: 0 - 960
         if ( widthDevice <= 960 ){
            $('#news-list-id').slick({
               dots: true,
               infinite: false,
               slidesToShow: 1,
            });
         }
         // Range: 740 - 1024
         if ( widthDevice > 740 && widthDevice <= 1140 ){
            $('#events-list-id').slick({
               dots: true,
               infinite: false,
               slidesToShow: 3
            });
            $('#news-list-id').slick({
               dots: true,
               infinite: false,
               slidesToShow: 2,
            });
         }

         // Range: 568 - 740
         if ( widthDevice > 568 && widthDevice <= 740 ){
            $('#events-list-id').slick({
               dots: true,
               infinite: false,
               slidesToShow: 2
            });
         }
         
         //- Range: Max 568
         if ( widthDevice <= 568 ){
            $('#events-list-id').slick({
               dots: true,
               infinite: false,
               slidesToShow: 1,
            });
         }
         






