//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']
block contenido
   main
      include layout/_header
    
      include components/profesionalsemestral/_c-hero-lobby-profesional-semestral
      include components/_c-intro-producto
      +introProductoInfo4Items(
         true,
         null,
         null,
         null,
         null,
         null,
         null,
         null,
         null,
         /* icon first */
         "modalidad-1.png",
         "Modalidad ",
         "Presencial | Connect | Online",
         /* icon two */
         "modalidad-1.png",
         "Plan",
         "Tetramestral",
         /* icon three */
         "modalidad-1.png",
         "Duración",
         "9 tetramestres (3 años)",
         /* icon four */
         "modalidad-1.png",
         "Idioma",
         "Español"
      )(class="variant-grid accent-green")  /* por si lleva un tema */
      //- End intro      



      section._c-careers-list-in-level.accent-profesemestral
         .o-container
            ._c-careers-list-in-level--intro
               h2 Carreras ejecutivas que puedes estudiar en Tecmilenio

            ._c-careers-list-in-level--filters
               ._c-careers-list-in-level--filtres
                  span Todos
               ._c-careers-list-in-level--filtlist
                  p Filtrar por categoría
                  ul
                     li
                        span Arte, Cultura y Humanidades
                     li
                        span Bienestar y Salud
                     li
                        span Ingeniería y TI 
                     li
                        span Negocios

            ._c-careers-list-in-level--list.accordeon-init

               ._c-careers-list-in-level--itm

                  ._c-careers-list-in-level--itm-accordeon
                     ._c-careers-list-in-level--info
                        ._c-careers-list-in-level--title.accordeon-btn
                           h3 
                              a(href="#!") Licenciatura en Nutrición
                        ._c-careers-list-in-level--body
                           p Podrás dar atención nutricional a la comunidad en general, para mantener un estilo de vida saludable; diseñando programas que los ayuden a mejorar su calidad de vida.
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Ver más
                     ._c-careers-list-in-level--picture
                        img(src="../images/img-career-nutri.jpg", srcset="../images/img-career-nutri.jpg", alt="Carrera")

      //- End careers list

      include components/_c-slide-slick-imgside
      +slideSlickWithBg( 
         "bg-modalidades-grid.jpg",
         /*title,*/ "4 beneficios de estudiar una carrera profesional ejecutiva en Tecmilenio",
         /*parrint,*/ null,
         /* ico1 */ "modalidad-1.png",
         /*tit1,*/ "Presencial",
         /*text1,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de tomar la clase en vivo de manera virtual.",
         /*copybtn1,*/ "Leer más",
         /*enlacebtn1,*/ "#!",

         /*ico2,*/ "modalidad-1.png",
         /*tit2,*/ "Online",
         /*text2,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn2,*/ "Leer más",
         /*enlacebtn2,*/ "#!",

         /*ico3,*/ "modalidad-1.png",
         /*tit3,*/ "Connect",
         /*text3,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn3,*/ "Leer más",
         /*enlacebtn3,*/ "#!",

         /*ico4,*/ "modalidad-1.png",
         /*tit4,*/ "Autodirigido",
         /*text4 */ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn4,*/ "Leer más",
         /*enlacebtn4,*/ "#!"
      )(class="accent-profesemestral")
      //- End slick carousel


      section._c-exploration-routes.accent-profesemestral
         .o-container
            ._c-exploration-routes--intro
               h2 Conoce las modalidades que Tecmilenio tiene para ti
               p Impulsa tu carrera ejecutiva seleccionando la modalidad que se adapte a tu estilo de vida, para alcanzar tus objetivos profesionales:

            .o-grid-row._c-exploration-routes--grid.accordeon-init
               
               .col.size-4
                  ._c-exploration-routes--route
                     ._c-exploration-routes--routehead
                        ._c-exploration-routes--routeact.accordeon-btn
                           h3 Presencial
                        ._c-exploration-routes--routeimg
                           img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
                     ._c-exploration-routes--routebody.accordeon-box
                        p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
               
               .col.size-4
                  ._c-exploration-routes--route
                     ._c-exploration-routes--routehead
                        ._c-exploration-routes--routeact.accordeon-btn
                           h3 Online
                        ._c-exploration-routes--routeimg
                           img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
                     ._c-exploration-routes--routebody.accordeon-box
                        p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 
               
               .col.size-4
                  ._c-exploration-routes--route
                     ._c-exploration-routes--routehead
                        ._c-exploration-routes--routeact.accordeon-btn
                           h3 Connect
                        ._c-exploration-routes--routeimg
                           img(src="../images/ruta-img.jpg", srcset="../images/ruta-img.jpg")
                     ._c-exploration-routes--routebody.accordeon-box
                        p Nuestros(as) estudiantes dominarán una de #[strong las metodologías para mejorar procesos, Lean Sigma], mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. 

      //- end


      section._c-copy-and-img-simple
         .o-container

            .o-grid-row.row-center
               .col.size-xs-12.size-sm-12.size-5
                  ._c-copy-and-img-simple--image
                     h2 Practica con nuestros laboratorios presenciales y remotos
                     ._c-copy-and-img-simple--pic
                        img.img-full-responsive(src="../images/img-simple.jpg", srcset="../images/img-simple.jpg")
               .col.size-xs-12.size-sm-12.size-7
                  ._c-copy-and-img-simple--copy
                     h2 Practica con nuestros laboratorios presenciales y remotos
                     p En cada campus contamos con laboratorios presenciales, donde podrás desarrollar y practicar las competencias de tu área y carrera.
                     p Utiliza nuestros laboratorios remotos, donde podrás operar 24/7, un laboratorio físico, desde cualquier ubicación con conexión a internet.
      //- end      


      ._c-cta-intercultural.accent-profesemestral
         ._c-cta-intercultural--picture
            ._c-cta-intercultural--picture-bg
               img(src="../../images/img-banner-prepa-internacional.jpg", srcset="../../images/img-banner-prepa-internacional.jpg", alt="FF")
            ._c-cta-intercultural--picture-inf
               .ico
                  img(src="../../images/icon-prod-tab-head.png", srcset="../../images/icon-prod-tab-head.png")
               h2 Vive diferentes experiencias interculturales
         ._c-cta-intercultural--text
            p #[strong Enriquece tu experiencia personal] conociendo, conviviendo y #[strong aprendiendo de otras culturas], a través de diferentes programas interculturales que te permitirán desarrollar nuevas habilidades para:
            ul
               li 
                  span Aprender un nuevo idioma 
               li 
                  span Conocer más tus fortalezas
               li 
                  span Desarrollar tu autonomía 
               li 
                  span Sensibilizarte y ampliar tu visión
            a.o-btn.btn-outline(href="#!") Quiero conocerlas
      //- end cta intercultural


      section._c-events-in-career-section.accent-profesemestral
         .o-container
            ._c-events-in-career-section--intro
               h2 Conoce nuestras actividades extracurriculares
               p.m-b-50 Ten la oportunidad de participar en talleres deportivos y culturales, que te permitirán descubrir tu pasión y vivir en bienestar.

               h3.m-b-10.text-center.color-dark-green Algunos eventos nacionales que podrás vivir
               p Al estudiar alguna de las carreras profesionales tendrás a tu alcance actividades que te ayudarán a conocer nuevas personas y conectar con la comunidad Tecmilenio, mientras participas en eventos a nivel nacional como:

            ._c-events-in-career-section--slidepart
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 Semana de #[br] la Felicidad 
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.   
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 Esports
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.
               ._c-events-in-career-section--slideitm
                  ._c-events-in-career-section--eventbox
                     ._c-events-in-career-section--eventpic
                        img(src="../../images/evento-esports.jpg", srcset="../../images/evento-esports.jpg", alt="Evento")
                     ._c-events-in-career-section--eventinf
                        h3 FIRST Robotics#[br]Competition
                        p Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.

            ._c-events-in-career-section--slidenavs
               ._c-events-in-career-section--nav.prev
                  img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")
               ._c-events-in-career-section--nav.next
                  img(src="../../images/arrow-prepa-carousel.png", srcset="../../images/arrow-prepa-carousel.png")

         //- end
      

      section._c-events-list.variant-three
         .o-container 
            h2.text-center.text-uppercase Estamos comprometidos con tu proyección profesional
            p.text-center Tendrás acceso a los diferentes programas que fortalecerán tus habilidades para tu crecimiento profesional.
            #events-list-id.o-grid-row.row-center
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-1.jpg", alt="", srcset="../images/event-1.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Wellbeing 360]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-2.jpg", alt="", srcset="../images/event-2.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Semana de la Felicidad]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más
               .col.size-4
                  ._c-events-list--event
                     ._c-events-list--picture
                        a(href="#!")
                           img.img-responsive(src="../images/event-3.jpg", alt="", srcset="../images/event-3.jpg")
                     ._c-events-list--information
                        h3 #[a(href="#!") Open House Prepa]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                        a.o-btn.btn-solid.bg-aqua-dark(href="#!") Conoce más

      //- end
      
      section._c-banner-cta.accent-profesemestral
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/burbuja-de-dialogo 4.png", alt="", srcset="../images/burbuja-de-dialogo 4.png")
               h2 Si tienes alguna duda, escríbenos.
            ._c-banner-cta--info
               p Nos contactaremos contigo para ayudarte y que tomes la mejor decisión para que construyas tu historia con nosotros.
            ._c-banner-cta--sesionInfo
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información
      //- end



      include layout/_footer

      script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
      script(src="../js/global.js")
      script(src="../vendor/slick.min.js")
      script(src="../vendor/slick-lightbox.min.js")


      script.
      
         // Body width size
         const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

         if ( widthDevice < 1140 ){
            // Accordeon
            accordeonSection( '._c-exploration-routes' )
         }

         // Carousel for modalidades
         $('._c-slide-slick-imgside ._c-slide-slick-imgside--modalidadesList').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            centerMode: true,
            variableWidth: true,
            prevArrow: '.modalidadNav.prev',
            nextArrow: '.modalidadNav.next',
            responsive: [
               {
                  breakpoint: 700,
                  settings: {
                     slidesToShow: 1,
                     slidesToScroll: 1,
                     centerMode: false,
                     variableWidth: false,                     
                  }
               }
            ]            
         });
         if ( widthDevice >= 1140 ){
            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               arrows: false,
               dots: false,
               infinite: false,
               speed: 300,
               slidesToShow: 3,
            });
         }

         if ( (widthDevice >= 740) && (widthDevice < 1140) ){
            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               dots: true,
               infinite: false,
               speed: 300,
               slidesToShow: 2,
               prevArrow: $('._c-events-in-career-section--nav.prev'),
               nextArrow: $('._c-events-in-career-section--nav.next')
            });
         }

         if ( widthDevice < 740 ){

            // Carousel for modalidades
            $('._c-events-in-career-section--slidepart').slick({
               dots: true,
               infinite: true,
               speed: 300,
               slidesToShow: 1,
               prevArrow: $('._c-events-in-career-section--nav.prev'),
               nextArrow: $('._c-events-in-career-section--nav.next')
            });
         }
