//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']

block contenido
   main

      include layout/_header
      include components/profesionalsem/_c-hero-lobby-profesional

      section._c-separador-detalle.separador-profesional-loby
         .square.first-square
         .square.second-square

      section._c-programs-list.accent-profesional
         .o-container
            
            ._c-programs-list--title
               h2.color-dark-green Conoce nuestros programas académicos
            
            ._c-programs-list--boxes.accordeon-init
               .o-grid-row
               
                  .col.size-4
                     ._c-programs-list--box
                        ._c-programs-list--boxhead.accordeon-btn
                           .o-grid-row.row-center
                              .col.size-11
                                 h3 
                                    a(href="#!") Profesional Asociado
                              .col.size-1
                                 .icon
                                    //- img(src="../images/icon-prod-tab-head.png", alt="Icono", srcset="../images/icon-prod-tab-head.png")
                        ._c-programs-list--boxcontent.accordeon-box
                           p Te ofrecemos carreras cortas #[strong (2 años en modalidad Connect o autodirigida)], en ocupaciones de alta empleabilidad, con las cuales podrás obtener un título de Profesional Asociado sin dejar de trabajar.
                           p Cada materia es un certificado cocreado con empresas, para asegurar que desarrolles las competencias más valoradas en el mundo laboral. Además, contarás con el acompañamiento y la flexibilidad que necesitas para completar tus estudios.
                           a.o-btn.bg-dark-green.white-color(href="#!") Conoce más aquí

                  .col.size-4
                     ._c-programs-list--box
                        ._c-programs-list--boxhead.accordeon-btn
                           .o-grid-row.row-center
                              .col.size-11
                                 h3 
                                    a(href="#!") Profesional Semestral
                              .col.size-1
                                 .icon
                                    //- img(src="../images/icon-prod-tab-head.png", alt="Icono", srcset="../images/icon-prod-tab-head.png")
                        ._c-programs-list--boxcontent.accordeon-box
                           p Este modelo te permite personalizar tu plan de estudios de acuerdo con tus objetivos, en cualquiera de nuestras carreras profesionales. Obtén un perfil único con base en tus intereses y planes de egreso.
                           p Vive experiencias empresariales y aumenta tus posibilidades laborales. Te ayudamos a obtener herramientas para tu bienestar y felicidad, además de perfeccionar tus talentos y habilidades.
                           p ¡Vive al máximo esta etapa en #[br] #[strong Universidad Tecmilenio]!

                           a.o-btn.bg-dark-green.white-color(href="#!") Conoce más aquí

                  .col.size-4
                     ._c-programs-list--box
                        ._c-programs-list--boxhead.accordeon-btn
                           .o-grid-row.row-center
                              .col.size-11
                                 h3 
                                    a(href="#!") Profesional Ejecutivo
                              .col.size-1
                                 .icon
                                    //- img(src="../images/icon-prod-tab-head.png", alt="Icono", srcset="../images/icon-prod-tab-head.png")
                        ._c-programs-list--boxcontent.accordeon-box
                           p Si ya trabajas y necesitas el respaldo de una carrera que te impulse a crecer laboralmente, nuestros programas de carreras profesionales ejecutivas, con horarios accesibles y la posibilidad de estudiar de manera remota, son para ti.
                           p Nuestros programas académicos de nivel superior te brindan la posibilidad de enfocar tu carrera a las especialidades de mayor demanda en el mercado. Con nuestros certificados perfeccionarás tus habilidades y te mantendrás actualizado, para dar respuesta a las necesidades de las empresas.
                           a.o-btn.bg-dark-green.white-color(href="#!") Conoce más aquí

      include components/_slide-slick-imgside-variant-center


      section._c-picture-with-copy.custom-structure.accent-profesional
         .o-container
            .o-grid-row.row-reverse.m-b-100
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/prepa-img-end-1.png" alt="Img Prepa" srcset="../images/prepa-img-end-1.png").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     h2.color-dark-green Con docentes expertos en la industria
                     br
                     p Aprende con profesores(as) especializados en la industria y área que imparten, para entender las situaciones reales.
                     p Puedes desarrollar, aún más, las habilidades aprendidas, cuando hay un(a) docente que te inspira a compartir, explorar, debatir y entender las situaciones reales de una empresa
                     br
                     br
                     .grid-buttons.o-grid-row
                        .col.size-6
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Becas y Financiamiento
                        .col.size-6
                           a.o-btn.btn-solid.bg-dark-green(href="#!") Línea de Salud y Bienestar

      section._c-certifications-accordeons.accent-profesional
         .o-container
            h2.text-center Vive experiencias únicas con las #[br] carreras profesionales Tecmilenio

            .o-grid-row._c-certifications-accordeons--grid

               .col.size-5._c-certifications-accordeons--img
                  img(src="../images/img-prepa-certifications.jpg", srcset="../images/img-prepa-certifications.jpg", alt="GG")
                  
               .col.size-7._c-certifications-accordeons--list.accordeon-init
                  ._c-certifications-accordeons--certificate.accordeon-active
                     ._c-certifications-accordeons--certificate-title.accordeon-btn
                        h3 Bienestar Integral
                     ._c-certifications-accordeons--certificate-body
                        p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.
                  ._c-certifications-accordeons--certificate
                     ._c-certifications-accordeons--certificate-title.accordeon-btn
                        h3 Modelo de acompañamiento
                     ._c-certifications-accordeons--certificate-body
                        p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.
                  ._c-certifications-accordeons--certificate
                     ._c-certifications-accordeons--certificate-title.accordeon-btn
                        h3 Vivencia Estudiantil
                     ._c-certifications-accordeons--certificate-body
                        p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.
                  ._c-certifications-accordeons--certificate   
                     ._c-certifications-accordeons--certificate-title.accordeon-btn
                        h3 Impacto Social
                     ._c-certifications-accordeons--certificate-body
                        p Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.

      section._c-programs-profesional-boxes
         .o-container
            ._c-programs-profesional-boxes--intro
               h2 Conoce los programas que impulsarán tu desarrollo profesional al siguiente nivel
            ._c-programs-profesional-boxes--careers
               ._c-programs-profesional-boxes--itm
                  ._c-programs-profesional-boxes--slide.box-pa
                     ._c-programs-profesional-boxes--bg
                        img(src="../images/t-pro-aso.png", srcset="../images/t-pro-aso.png",  alt="PA").fondo
                        h3 
                           a(href="#!") Profesional Asociado
                     ._c-programs-profesional-boxes--inf
                        a(href="#!") Más información
               ._c-programs-profesional-boxes--itm   
                  ._c-programs-profesional-boxes--slide.box-profe
                     ._c-programs-profesional-boxes--bg
                        img(src="../images/t-pro.png", srcset="../images/t-pro.png",  alt="PA").fondo
                        h3 
                           a(href="#!") Carrera Profesional
                     ._c-programs-profesional-boxes--inf
                        a(href="#!") Más información
               ._c-programs-profesional-boxes--itm   
                  ._c-programs-profesional-boxes--slide.box-ejec
                     ._c-programs-profesional-boxes--bg
                        img(src="../images/t-pro-ejec.png", srcset="../images/t-pro-ejec.png",  alt="PA").fondo
                        h3 
                           a(href="#!") Carrera Profesional #[br] Ejecutiva
                     ._c-programs-profesional-boxes--inf
                        a(href="#!") Más información

      section._c-banner-cta.bg-color-profe
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/dialogo-dark-green.png", alt="", srcset="../images/dialogo-dark-green.png")
               h2 Si tienes alguna duda, escríbenos aquí.
            ._c-banner-cta--info
               p Nos contactaremos contigo para ayudarte a tomar la mejor decisión y que construyas tu camino con nosotros.
            ._c-banner-cta--sesionInfo
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información
      
      
      include layout/_footer

      script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
      script(src="../js/global.js")
      script(src="../vendor/slick.min.js")
      script(src="../vendor/slick-lightbox.min.js")


      script.
      
         // Body width size
         //- const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

         // Accordeon for certificados
         accordeonSection( '._c-certifications-accordeons' )

         // === Carousel scripts === 

         // Carousel for modalidades
         $('._slide-slick-imgside.variant-center ._slide-slick-imgside--modalidadesList').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            centerMode: false,
            variableWidth: false,
            prevArrow: '.modalidadNav.prev',
            nextArrow: '.modalidadNav.next',
            responsive: [
               {
                  breakpoint: 700,
                  settings: {
                     slidesToShow: 1,
                     slidesToScroll: 1
                  }
               }
            ]
         });
         // Carousel for programas boxes end
         $('._c-programs-profesional-boxes--careers').slick({
            dots: false,
            arrows: false,
            infinite: false,
            slidesToShow: 3,
            responsive: [
               {
                  breakpoint: 940,
                  settings: {
                     dots: true,
                     slidesToShow: 2,
                     slidesToScroll: 1
                  }
               },
               {
                  breakpoint: 700,
                  settings: {
                     dots: true,
                     slidesToShow: 1,
                     slidesToScroll: 1
                  }
               }
            ]
         });
