//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']
block contenido
   main

      include layout/_header
      include components/_c-banner-principal-t
      +bannerT( 
         /* titulo en h1 */ 'Licenciatura en Diseño Gráfico y Animación', 
         /* titulo en h2 - si no usar dejar null (aplica para todos) */ null, 
         /* descripcion en parrafo */ 'Enriquece la toma de decisión de quienes consumen bienes y servicios, comunicando de manera creativa y atractiva los mensajes de las diferentes industrias.', 
         /* enlace del boton */ '#!', 
         /* copy del boton */ 'Quiero más información', 
         /* imagen, la ruta por defecto es ../images/ no se puede cambiar */ 'img-t.jpg' 
      )(class="accent-profesemestral")  /* por si lleva un tema */
      //- End banner t

      include components/_c-intro-producto
      +introProductoInfo4Items(
         false,
         null,
         null,
         null,
         "Sabemos que el mundo ha cambiado, por eso hemos creado el plan de estudios de strong Prepa Intercultural Tecmilenio, con un programa académico que ayuda a las y los estudiantes a descubrir su vocación y adquirir las bases para su carrera profesional, mientras reciben acompañamiento en el descubrimiento de su Propósito de Vida.",
         "En Prepa Intercultural Tecmilenio nuestros(as) estudiantes desarrollan la competencia en el idioma inglés, que le dará el acceso a mayores oportunidades en su futuro profesional. ",
         null,
         null,
         null,
         /* icon first */
         "modalidad-1.png",
         "Modalidad",
         "Presencial",
         /* icon two */
         "modalidad-1.png",
         "Plan",
         "Semestral",
         /* icon three */
         "modalidad-1.png",
         "Duración",
         "4 años",
         /* last icon */
         "modalidad-1.png",
         "Idioma",
         "Español",
         /* titulo de que trata opcional */ "¿De qué trata la carrera de Diseño Gráfico y Animación?"
      )(class="accent-profeaso")  /* por si lleva un tema */
      //- End intro

      include components/_c-slide-slick-imgside
      +slideSlickWithBg( 
         "bg-modalidades-grid.jpg",
         /*title,*/ "Algunos de los principales beneficios al estudiar esta carrera",
         /*parrint,*/ null,

         /* ico1 */ "modalidad-1.png",
         /*tit1,*/ "Presencial",
         /*text1,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de tomar la clase en vivo de manera virtual.",
         /*copybtn1,*/ "Leer más",
         /*enlacebtn1,*/ "#!",

         /*ico2,*/ "modalidad-1.png",
         /*tit2,*/ "Online",
         /*text2,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn2,*/ "Leer más",
         /*enlacebtn2,*/ "#!",

         /*ico3,*/ "modalidad-1.png",
         /*tit3,*/ "Connect",
         /*text3,*/ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn3,*/ "Leer más",
         /*enlacebtn3,*/ "#!",

         /*ico4,*/ "modalidad-1.png",
         /*tit4,*/ "Autodirigido",
         /*text4 */ "Vive la experiencia de disfrutar de la convivencia con el resto de los estudiantes y profesores, al presentarte físicamente en el aula. En caso de que se complique tu traslado al campus, también tienes la opción de #[strong tomar la clase en vivo de manera virtual.] ",
         /*copybtn4,*/ "Leer más",
         /*enlacebtn4,*/ "#!"
      )(class="accent-profesemestral")
      //- End slick carousel

      include components/_c-banner-cta
      +bannerCta( 
         /*title, */ "Conoce todos los beneficios que te da estudiar esta carrera en Universidad Tecmilenio",
         /*icon, */ "ico-inter.png",
         /*parr, */ null,
         /*footext, */ null,
         /*copybtn, */ "Experiencia Intercultural",
         /*linkbtn, */ "#!",
         /*bgimg */ "intercambio-bg.jpg",
         /* big pic */ true
      )(class="accent-profeaso")
      //- End banner cta

      include components/_c-plan-de-estudios
      +sectionPlanEstudios(
         "El Plan de Estudios de Diseño Gráfico y Animación en Tecmilenio",
         "programaprofesemestral.png",
         null,
         "33%",
         "Certificados y especialidades",
         "18%",
         "Formación personal",
         "49%",
         "Formación carrera",
         "#!",
         "Descarga aquí nuestro plan de estudios",
         /* text intro */ "Nuestros programas son creados en coordinación con empresas multinacionales especialistas en Diseño Gráfico y Animación para que conozcas a fondo cómo desarrollar soluciones creativas que impacten en las personas y las organizaciones.",
         /* text intro 2 */ "La Licenciatura en Diseño Gráfico y Animación cuenta con Reconocimiento de Validez Oficial de Estudios (RVOE) otorgado por la Secretaría de Educación Pública.",
         /*linkrvoe*/ "#!."
         
      )(class="accent-profesemestral-2")
      //- End plan de estudios
 
      - var listforcopy = '<ul><li><span>La mentora o el mentor ofrecen orientación, apoyo, ayuda y asesoramiento en el proceso de autodescubrimiento y educación. </span></li><li><span>Este modelo es una práctica que les ayudará a optimizar sus experiencias en la preparatoria y alcanzar sus sueños y metas.</span></li></ul>';

      include components/_c-copy-and-picture-color-box
      +copyAndPictureBox( 
         /*title*/ "Potencializa tu carrera con certificados", 
         /*subtitle, */ "Además de profundizar en el área de Diseño Gráfico y Animación podrás especializarte con algunos de nuestros más de 50 certificados que impulsarán tu futuro laboral.",
         /* islist*/ false,
         /*list */  null,
         /* is tabs */ true,
         /* tab1 */ "Acompañamiento",
         /* tab1info */ "Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.",
         /* tab2 */ "Acompañamiento",
         /* tab2info */ "Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico.",
         /* tab3 */ "Acompañamiento",
         /* tab3info */ "Durante tus estudios contarás con personal que te asesorará y brindará orientación para que logres tu éxito académico."
      )(class="accent-profesemestral")
      //- End

      - var contenidoPictureWithCopyExtend = '<h3 class="color-dark-green">Al terminar de estudiar Profesional Asociado en Administración de Negocios podrás:</h3><ul><li><span>Entender los principales procesos y funciones de la administración de empresas, los cuales involucran la comprensión y el conocimiento de herramientas y estrategias relacionadas con la mercadotecnia, la administración del recurso humano, principios fundamentales de producción y fundamentos de finanzas.</span></li><li><span>Ser líder y dirigir tanto equipos como proyectos de trabajo, sirviendo de apoyo a gerentes y directivos. </span></li><li><span>Desempeñar tareas de apoyo en una organización, incluyendo los procesos de planeación estratégica de una empresa o negocio. </span></li><li><span>Llevar a cabo procesos de auditoría y proponer metodologías de evaluación y diagnóstico de consultoría administrativa aplicada. </span></li><li><span>Entender las bases de las matemáticas financieras y asistir en la elaboración y/o interpretación de análisis financieros. </span></li><li><span>Comprender los factores a considerar para la toma de decisiones acertadas para el negocio u organización.</span></li><li><span>Aplicar las principales técnicas y herramientas de planeación, administración y evaluación de proyectos. </span></li><li><span>Comunicar efectivamente, en forma oral y escrita, los resultados de tu trabajo, tanto en español como en una lengua extranjera.</span></li></ul>';
      include components/_c-picture-with-copy-extended-info
      +pictureWithCopyExtendInfo( 
         /*img1, */ "img-home-1.jpg",
         /*img2, */ "img-home-2.jpg",
         /*title, */ "Esta carrera es para ti, si:",
         /*subtitle, */ "Cuentas con tu certificado de bachillerato terminado.",
         /*content , */ contenidoPictureWithCopyExtend
      )(class="accent-profesemestral")
      //- end
      
      include components/_c-graduate-grid-items
      +graduateGridThreeItems(
         /*title, */ "Si te preguntas ¿En que podrás trabajar al terminar?",
         /*subtitle, */ "El campo de trabajo para un PA en Administración de Negocios incluye:",
         /*icon1, */ "img-pa-1.png",
         /*copy1, */ "Study Tours ",
         /*icon2, */ "img-pa-1.png",
         /*copy2, */ "Intercambios virtuales",
         /*icon3, */ "img-pa-1.png",
         /*copy3, */ "Proyectos colaborativos",
         /*icon4, */ null,
         /*copy4, */ null,
         /*icon5, */ null,
         /*copy5, */ null,
         /*icon6, */ null,
         /*copy6*/ null
      )(class="accent-profesemestral-alter")
      //- end graduate    

      include components/_c-testimonios
      +testimoniosBlock(
         /*title, */ "Testimonios",
         /*test1, */ "Quidam officiis similique tollit indoctum efficiendi nihil tantas platonem nemore singulis an ius, nullam ornatus nam maiestatis mel everti invenire intellegam, legendos consequuntur eu sit.",
         /*person1, */ "Rebeca López",
         /*work1, */ "Alumna Ingeniería Industrial",
         /*pic1, */ "img-testimonio-example.jpg",
         /*test2, */ "Quidam officiis similique tollit indoctum efficiendi nihil tantas platonem nemore singulis an ius, nullam ornatus nam maiestatis mel everti invenire intellegam, legendos consequuntur eu sit.",
         /*person2, */ "Rebeca López",
         /*work2, */ "Alumna Ingeniería Industrial",
         /*pic2, */ "img-testimonio-example.jpg",
         /*test3, */ "Quidam officiis similique tollit indoctum efficiendi nihil tantas platonem nemore singulis an ius, nullam ornatus nam maiestatis mel everti invenire intellegam, legendos consequuntur eu sit.",
         /*person3, */ "Rebeca López",
         /*work3, */ "Alumna Ingeniería Industrial",
         /*pic3, */ "img-testimonio-example.jpg",
         /*test4, */ null,
         /*person4, */ null,
         /*work4, */ null,
         /*pic4 */ null
      )(class="accent-profesemestral")
      //- end testimonios

      +bannerCta( 
         /*title, */ null,
         /*icon, */ "burbuja-de-dialogo%204.png",
         /*parr, */ null,
         /*footext, */ null,
         /*copybtn, */ "Experiencia Intercultural",
         /*linkbtn, */ "#!",
         /*bgimg */ null,
         /* big pic */ false,
         /* parr1intro */ "Si todavía estás pensando si esta carrera es para tí, envíanos un mensaje y nos contactaremos contigo para aclarar tus dudas y ayudarte a tomar la mejor decisión para impulsar tu camino profesional.",
         /* parr2intro */ "Nos importa que realices tu Proposito de Vida, en Tecmilenio te ayudamos y te preparamos",

         /* es grid= */ true,
         /* btn 1 link */ "#!",
         /* btn 1 titulo */ "Titulo",
         /* btn 1 subtitulo */ "Subtitulo",
         /* btn 1 icon */ "ico-phone.png",
         
         /* btn 2 link */ "#!",
         /* btn 2 titulo */ "Titulo",
         /* btn 2 subtitulo */ "Subtitulo",
         /* btn 2 icon */ "ico-phone.png",
         
         /* btn 3 link */ "#!",
         /* btn 3 titulo */ "Titulo",
         /* btn 3 subtitulo */ "Subtitulo",
         /* btn 3 icon */ "ico-phone.png",
         
         /* btn 4 link */ "#!",
         /* btn 4 titulo */ "Titulo",
         /* btn 4 subtitulo */ "Subtitulo",
         /* btn 4 icon */ "ico-phone.png"

      )(class="banner-in-product accent-profesemestral")
      //- end

      include components/_c-related-careers
      +relatedCareers( 
         /*titlesection*/ "Carreras relacionadas",
         /*career1*/ "Carrera relacionada 1",
         /*career1link*/ "#!",
         /*career1pic  */ "career-example.jpg",

         /*career2*/ "Carrera relacionada 2",
         /*career2link*/ "#!",
         /*career2pic  */ "career-example.jpg",

         /*career3*/ "Carrera relacionada 3",
         /*career3link*/ "#!",
         /*career3pic  */ "career-example.jpg",

         /*career4*/ "Carrera relacionada 4",
         /*career4link*/ "#!",
         /*career4pic  */ "career-example.jpg",

         /*career5*/ "Carrera relacionada 5",
         /*career5link*/ "#!",
         /*career5pic  */ "career-example.jpg",

         /*career6*/ "Carrera relacionada 6",
         /*career6link*/ "#!",
         /*career6pic  */ "career-example.jpg",

         /*career7*/ "Carrera relacionada 7",
         /*career7link*/ "#!",
         /*career7pic  */ "career-example.jpg",

         /*career8*/ "Carrera relacionada 8",
         /*career8link*/ "#!",
         /*career8pic  */ "career-example.jpg"
      )(class="accent-profesemestral")
      //- end



      include layout/_footer
   
   script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
   script(src="../js/global.js")
   script(src="../vendor/slick.min.js")

   script.
      // Body width size
      const widthDevice = document.getElementsByTagName('body')[0].clientWidth;
      // Accordeon for certificados
      accordeonSection( '._c-copy-and-picture-color-box--grid' )

      // Carousel for modalidades
      $('._c-slide-slick-imgside ._c-slide-slick-imgside--modalidadesList').slick({
         dots: false,
         infinite: false,
         speed: 300,
         slidesToShow: 2,
         centerMode: true,
         variableWidth: true,
         prevArrow: '.modalidadNav.prev',
         nextArrow: '.modalidadNav.next',
         responsive: [
            {
               breakpoint: 700,
               settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  centerMode: false,
                  variableWidth: false,                     
               }
            }
         ]            
      });

      // Carousel related careers
      $('._c-testimonios-section--carousel').slick({
         dots: true,
         infinite: false,
         speed: 300,
         slidesToShow: 1,
      });    


      // Carousel related careers
      $('#related-careers-list-id').slick({
         dots: false,
         infinite: false,
         speed: 300,
         slidesToShow: 4,
         slidesToScroll: 1,
         responsive: [
            {
               breakpoint: 1080,
               settings: {
                  centerMode: false,
                  slidesToShow: 3,
                  dots: true
               }
            },
            {
               breakpoint: 700,
               settings: {
                  centerMode: false,
                  slidesToShow: 2,
                  dots: true
               }
            },
            {
               breakpoint: 560,
               settings: {
                  centerMode: false,
                  slidesToShow: 1,
                  dots: true
               }
            }
         ]
      });            