//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']
block contenido
   main

      include layout/_header

      include components/_c-banner-principal-t
      include components/_c-intro-producto
      include components/_c-plan-de-estudios

      section._c-picture-with-copy.extended-info.accent-prepa
         .o-container
            .o-grid-row
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/img-home-1.jpg", alt="Img Home", srcset="../images/img-home-1.jpg").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     .square.first
                     .square.second
                     //- .square
                     h2 Conoce #[br] nuestras actividades extracurriculares
                     p Estudiar la preparatoria no será lo mismo sin las actividades extracurriculares que tenemos para ti. 
                     p Participa cada tarde en diferentes talleres y experiencias deportivas como fútbol, baile, canto, entre otros, que #[strong te impulsarán a descubrir tus talentos, socializar y crear una base de disciplina] que te ayudará a lograr lo que te propongas en la vida.
            ._c-picture-with-copy--footer
               .o-grid-row
                  .col.size-6
                     img(src="../images/img-home-2.jpg", alt="Home", srcset="../images/img-home-2.jpg")
                     .square
                  .col.size-6
                     ._c-picture-with-copy--discover
                        h3 ¡Descubre cómo se vive esta experiencia!
                        p Queremos que no pierdas la oportunidad de participar en talleres deportivos y culturales que te permitan descubrir tu pasión y ser feliz durante tu paso como estudiante en #[strong Prepa Tecmilenio].
                        p Además, #[strong puedes pertenecer a una sociedad] y convivir con otros(as) estudiantes que comparten los mismos intereses, desarrollar hábitos y habilidades que contribuyan a su bienestar, mientras construyen relaciones positivas. 
                        img.img-responsive(src="../images/associations-icons.png", srcset="../images/associations-icons.png")
      
      include components/_c-events-in-career-section
      include components/_c-exploration-routes
      include components/_c-copy-and-picture-color-box
      include components/_c-cta-intercultural
      include components/_c-certifications-accordeons
         

      section._c-banner-cta.bg-color-prepa
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/dialogo-dark-green.png", alt="", srcset="../images/dialogo-dark-green.png")
               h2 Comienza tu historia en Prepa Intercultural Tecmilenio
            ._c-banner-cta--info
               p Si tienes alguna duda sobre el proceso de admisión, escríbenos. Nos contactaremos contigo para ayudarte a tomar la mejor decisión.
            ._c-banner-cta--sesionInfo
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información

   script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
   script(src="../js/global.js")
   script(src="../vendor/slick.min.js")

   script.
      // Body width size
      const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

      // Accordeon for certificados
      accordeonSection( '._c-certifications-accordeons' )

      if ( widthDevice < 1140 ){
         // Accordeon
         accordeonSection( '._c-exploration-routes' )
      }
      if ( widthDevice >= 1140 ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            arrows: false,
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
         });
      }

      if ( (widthDevice >= 740) && (widthDevice < 1140) ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            prevArrow: $('._c-events-in-career-section--nav.prev'),
            nextArrow: $('._c-events-in-career-section--nav.next')
         });
      }

      if ( widthDevice < 740 ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            prevArrow: $('._c-events-in-career-section--nav.prev'),
            nextArrow: $('._c-events-in-career-section--nav.next')
         });
      }
