//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   //- -page['libsCss']	= ['slick','slick-theme','slick-lightbox']
block contenido
   main

      include layout/_header

      section._c-banner-principal-t.accent-prepa-inter
         .o-container
            .o-grid-row.no-padding.row-center
               .col.size-6
                  ._c-banner-principal-t--intro
                     h1.color-white Prepa Intercultural
                     h2.color-prepa-3 Crea tu historia en Prepa Intercultural Tecmilenio
                     p.color-white Nuestro programa de preparatoria se enfoca en desarrollar habilidades para acercar a las y los estudiantes al mundo laboral. Por medio de rutas exploratorias, tomarán la mejor decisión con respecto a su vocación profesional al experimentar diferentes áreas de interés.
                     a.o-btn.btn-solid.bg-color-prepa-3(href="#!") Quiero más información               
               .col.size-6
                  ._c-banner-principal-t--picture
                     img(src="../images/img-t.jpg", srcset="../images/img-t.jpg", alt="Imagen")



      section._c-intro-producto.accent-green
         .o-container
            .o-grid-row.row-center
               .col.size-6
                  ._c-intro-producto--info
                     p Sabemos que el mundo ha cambiado, por eso hemos creado el plan de estudios de #[strong Prepa Intercultural Tecmilenio, con un programa académico que ayuda a las y los estudiantes a descubrir su vocación y adquirir las bases para su carrera profesional], mientras reciben acompañamiento en el descubrimiento de su Propósito de Vida.
                     p #[strong En Prepa Intercultural Tecmilenio] nuestros(as) estudiantes desarrollan la competencia en el idioma inglés, que le dará el acceso a mayores oportunidades en su futuro profesional. 
                     a.o-btn.btn-solid(href="#!") ¡Quiero conocer más!
               .col.size-6
                  ._c-intro-producto--icons-boxes
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                        ._c-intro-producto--text
                           h3 Modalidad 
                           p Presencial
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                        ._c-intro-producto--text
                           h3 Plan
                           p Semestral
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                        ._c-intro-producto--text
                           h3 Duración
                           p 3 años
                     ._c-intro-producto--ico-box
                        ._c-intro-producto--ico
                           img(src="../images/modalidad-1.png", srcset="../images/modalidad-1.png", alt="Icono")
                        ._c-intro-producto--text
                           h3 Idioma
                           p Español



      section._c-plan-de-estudios
         .o-container
            h2.text-center.color-dark-green Plan de estudios de Prepa Intercultural Tecmilenio

            ._c-plan-de-estudios--content
               .o-grid-row
                  .col.size-9
                     img.img-responsive(src="../images/plan-estudios-demo.png", srcset="../images/plan-estudios-demo.png", alt="demo")
                  .col.size-3._c-plan-de-estudios--percentageboxes.accent-prepa
                     ._c-plan-de-estudios--box
                        p 33%
                        span Certificados y especialidades
                     ._c-plan-de-estudios--box
                        p 18%
                        span Formación personal
                     ._c-plan-de-estudios--box
                        p 49%
                        span Formación carrera


               a.o-btn.btn-solid.bg-dark-green(href="#!") Descargar Plan



      section._c-picture-with-copy.extended-info.accent-prepa
         .o-container
            .o-grid-row
               .col.size-6
                  ._c-picture-with-copy--picture
                     img(src="../images/img-home-1.jpg", alt="Img Home", srcset="../images/img-home-1.jpg").img-responsive
               .col.size-6
                  ._c-picture-with-copy--copy
                     .square.first
                     .square.second
                     //- .square
                     h2 Conoce #[br] nuestras actividades extracurriculares
                     p Estudiar la preparatoria no será lo mismo sin las actividades extracurriculares que tenemos para ti. 
                     p Participa cada tarde en diferentes talleres y experiencias deportivas como fútbol, baile, canto, entre otros, que #[strong te impulsarán a descubrir tus talentos, socializar y crear una base de disciplina] que te ayudará a lograr lo que te propongas en la vida.
            ._c-picture-with-copy--footer
               .o-grid-row
                  .col.size-6
                     img(src="../images/img-home-2.jpg", alt="Home", srcset="../images/img-home-2.jpg")
                     .square
                  .col.size-6
                     ._c-picture-with-copy--discover
                        h3 ¡Descubre cómo se vive esta experiencia!
                        p Queremos que no pierdas la oportunidad de participar en talleres deportivos y culturales que te permitan descubrir tu pasión y ser feliz durante tu paso como estudiante en #[strong Prepa Tecmilenio].
                        p Además, #[strong puedes pertenecer a una sociedad] y convivir con otros(as) estudiantes que comparten los mismos intereses, desarrollar hábitos y habilidades que contribuyan a su bienestar, mientras construyen relaciones positivas. 
                        img.img-responsive(src="../images/associations-icons.png", srcset="../images/associations-icons.png")
      section._c-banner-cta.bg-color-prepa
         .o-container
            ._c-banner-cta--intro
               img.img-responsive(src="../images/dialogo-dark-green.png", alt="", srcset="../images/dialogo-dark-green.png")
               h2 Comienza tu historia en Prepa Intercultural Tecmilenio
            ._c-banner-cta--info
               p Si tienes alguna duda sobre el proceso de admisión, escríbenos. Nos contactaremos contigo para ayudarte a tomar la mejor decisión.
            ._c-banner-cta--sesionInfo
               a.o-btn.btn-solid.bg-aqua-dark(href="#!") ¡Sí! Quiero más información
                                 