//- Extend template global
extends layout/_template

append configuracion
   -var page			= {}
   -page['lang']		= 'es'
   -page['libsCss']	= ['slick','slick-theme']
block contenido
   main

      include layout/_header

      include components/_c-banner-principal-t
      +bannerT( 
         'Prepa intercultural', /* titulo en h1 */
         'Crea tu historia en Prepa Intercultural Tecmilenio', /* titulo en h2 - si no usar dejar null (aplica para todos) */
         'Nuestro programa de preparatoria se enfoca en desarrollar habilidades para acercar a las y los estudiantes al mundo laboral. Por medio de rutas exploratorias, tomarán la mejor decisión con respecto a su vocación profesional al experimentar diferentes áreas de interés.', /* descripcion en parrafo */
         '#!', /* enlace del boton */
         'Quiero más información', /* copy del boton */
         'img-t.jpg' /* imagen, la ruta por defecto es ../images/ no se puede cambiar */
      )(class="accent-prepa-inter")  /* por si lleva un tema */
      
      include components/_c-intro-producto
      +introProductoInfo4Items(
         false,
         null,
         null,
         null,
         "Sabemos que el mundo ha cambiado, por eso hemos creado el plan de estudios de strong Prepa Intercultural Tecmilenio, con un programa académico que ayuda a las y los estudiantes a descubrir su vocación y adquirir las bases para su carrera profesional, mientras reciben acompañamiento en el descubrimiento de su Propósito de Vida.",
         "En Prepa Intercultural Tecmilenio nuestros(as) estudiantes desarrollan la competencia en el idioma inglés, que le dará el acceso a mayores oportunidades en su futuro profesional. ",
         null,
         "#!",
         "¡Quiero conocer más!",
         /* icon first */
         "modalidad-1.png",
         "Modalidad",
         "Presencial",
         /* icon two */
         "modalidad-1.png",
         "Plan",
         "Semestral",
         /* icon three */
         "modalidad-1.png",
         "Duración",
         "3 años",
         /* last icon */
         "modalidad-1.png",
         "Idioma",
         "Español"
      )(class="accent-green")  /* por si lleva un tema */

      include components/_c-plan-de-estudios
      +sectionPlanEstudios(
         "Plan de estudios de Prepa Intercultural Tecmilenio",
         "plan-estudios-demo.png",
         null,
         "33%",
         "Certificados y especialidades",
         "18%",
         "Formación personal",
         "49%",
         "Formación carrera",
         "#!",
         "Descargar Plan"
      )(class="accent-prepa")

      - var footerdesc = '<h3>¡Descubre cómo se vive esta experiencia!</h3> <p>Queremos que no pierdas la oportunidad de participar en talleres deportivos y culturales que te permitan descubrir tu pasión y ser feliz durante tu paso como estudiante en <strong>Prepa Tecmilenio</strong>.</p> <p>Además, <strong>puedes pertenecer a una sociedad</strong> y convivir con otros(as) estudiantes que comparten los mismos intereses, desarrollar hábitos y habilidades que contribuyan a su bienestar, mientras construyen relaciones positivas. </p><br><img class="img-responsive" src="../images/associations-icons.png" srcset="../images/associations-icons.png">';
      include components/_c-picture-with-copy-extended-info
      +pictureWithCopyExtendInfo( 
         /*img1, */ "img-home-1.jpg",
         /*img2, */ "img-home-2.jpg",
         /*title, */ "Conoce <br>nuestras actividades <br>extracurriculares",
         /*subtitle, */ "Estudiar la preparatoria no será lo mismo sin las actividades extracurriculares que tenemos para ti. <p>Participa cada tarde en diferentes talleres y experiencias deportivas como fútbol, baile, canto, entre otros, que te impulsarán a descubrir tus talentos, socializar y crear una base de disciplina que te ayudará a lograr lo que te propongas en la vida.</p>",
         /*content , */ footerdesc
      )(class="accent-prepa")
      //- end          

      - var eventsincareer = '<div class="_c-events-in-career-section--slideitm"> <div class="_c-events-in-career-section--eventbox"> <div class="_c-events-in-career-section--eventpic"><img src="../../images/evento-esports.jpg" srcset="../../images/evento-esports.jpg" alt="Evento"></div> <div class="_c-events-in-career-section--eventinf"> <h3>Semana de <br> la Felicidad </h3> <p>Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más. </p> </div> </div> </div> <div class="_c-events-in-career-section--slideitm"> <div class="_c-events-in-career-section--eventbox"> <div class="_c-events-in-career-section--eventpic"><img src="../../images/evento-esports.jpg" srcset="../../images/evento-esports.jpg" alt="Evento"></div> <div class="_c-events-in-career-section--eventinf"> <h3>Esports</h3> <p>Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.</p> </div> </div> </div> <div class="_c-events-in-career-section--slideitm"> <div class="_c-events-in-career-section--eventbox"> <div class="_c-events-in-career-section--eventpic"><img src="../../images/evento-esports.jpg" srcset="../../images/evento-esports.jpg" alt="Evento"></div> <div class="_c-events-in-career-section--eventinf"> <h3>FIRST Robotics<br>Competition</h3> <p>Ofrecemos torneos de deportes electrónicos a nivel nacional, donde demostrarás tu talento en League of Legends, FIFA, Fortnite, Valorant, entre muchos más.</p> </div> </div> </div>';
      include components/_c-events-in-career-section
      +eventsInCareer(
         /*title*/ "Algunos eventos que se viven en prepa tecmilenio",
         /*subtitle*/ "Al estudiar alguna de las carreras cortas en Tecmilenio, porás vivir actividaes que te ayudarán a seguir conociendo gente, conectar con la <strong>comunidad Tecmilenio</strong> y participar en los eventos que tenemos a nivel nacional como:",
         /*content*/ eventsincareer
      )


      - var explorationhmtl = ' <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div> <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos, Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div> <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos, Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div> <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos, Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div> <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos, Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div> <div class="col size-4"> <div class="_c-exploration-routes--route"> <div class="_c-exploration-routes--routehead"> <div class="_c-exploration-routes--routeact accordeon-btn"> <h3>Marketing Digital</h3><span>NEGOCIOS</span> </div> <div class="_c-exploration-routes--routeimg"><img src="../images/ruta-img.jpg" srcset="../images/ruta-img.jpg"></div> </div> <div class="_c-exploration-routes--routebody accordeon-box"> <p>Nuestros(as) estudiantes dominarán una de <strong>las metodologías para mejorar procesos, Lean Sigma</strong>, mediante herramientas estadísticas y análisis de datos que ayudan a realizar cualquier actividad laboral de manera más eficiente. </p> </div> </div> </div>'
      include components/_c-exploration-routes
      +explorationRoutes( 
         /*title, */ "Preparamos a nuestros estudiantes para dar su siguiente paso",
         /*subtitle, */ "Nuestros(as) estudiantes de preparatoria experimentarán una área de interés con <strong>nuestras Rutas de Exploración</strong>.",
         /*routesinhtml */ explorationhmtl,
      )

      - var listapicturebox = '<ul> <li> <span>La mentora o el mentor ofrecen orientación, apoyo, ayuda y asesoramiento en el proceso de autodescubrimiento y educación. </span></li> <li> <span>Este modelo es una práctica que les ayudará a optimizar sus experiencias en la preparatoria y alcanzar sus sueños y metas.</span></li> </ul>';
      include components/_c-copy-and-picture-color-box
      +copyAndPictureBox( 
         /*title,*/ "Obtén certificaciones para tu futuro profesional",
         /*subtitle,*/ "Sabemos lo difícil que puede ser esta etapa de la vida. Por eso, en Prepa Tecmilenio tenemos un modelo de acompañamiento apreciativo. ",
         /*islist=true,*/ true,
         /*list,*/ listapicturebox,
         /*istabs=false,*/ false,
         /*tab1=null, */ null,
         /*tab1inf=null,*/ null,
         /*tab2=null,*/ null,
         /*tab2inf=null,*/ null,
         /*tab3=null,*/ null,
         /*tab3inf=null,*/ null,
         /*tab4=null,*/ null,
         /*tab4inf=null,*/ null,
         /*tab5=null,*/ null,
         /*tab5inf=null,*/ null,
         /*tab6=null,*/ null,
         /*tab6inf=null,*/ null,
         /*picture= ,*/ "img-prepa-preview-2.jpg",
      )(class="accent-prepa")

      - var contenidoctainter = '<p><strong>Enriquece tu experiencia personal</strong> conociendo, conviviendo y <strong>aprendiendo de otras culturas</strong>, a través de diferentes programas interculturales que te permitirán desarrollar nuevas habilidades para:</p> <ul> <li> <span>Aprender un nuevo idioma </span></li> <li> <span>Conocer más tus fortalezas</span></li> <li> <span>Desarrollar tu autonomía </span></li> <li> <span>Sensibilizarte y ampliar tu visión</span></li> </ul><a class="o-btn btn-outline" href="#!">Quiero conocerlas</a>';
      include components/_c-cta-intercultural
      +ctaIntercultural(
         /*title* */ "Vive diferentes experiencias interculturales",
         /*desc* */null,
         /*content* */ contenidoctainter,
         /*icon* */ "icon-prod-tab-head.png",
         /* bg */ "img-banner-prepa-internacional.jpg"
      )(class="accent-prepa")
      //- end

      include components/_c-certifications-accordeons
      +certificationsAccordeons( 
         /* title,  */ "Obtén certificaciones para tu futuro profesional",
         /* imagen,  */ "img-prepa-certifications.jpg",
         /* istabs=true,  */ true,
         /* tab1=null,  */ "Tab 1",
         /* tab1inf=null,  */ "Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.",
         /* tab2=null,  */ "Tab 2",
         /* tab2inf=null,  */ "Con esta certificación aprenderás uno de los lenguajes de programación más importantes en la actualidad, para desarrollar una amplia gama de aplicaciones tecnológicas, incluso con desarrollos de inteligencia artificial que te abrirán las puertas a mayores oportunidades laborales.",
         /* tab3=null,  */ null,
         /* tab3inf=null,  */ null,
         /* tab4=null,  */ null,
         /* tab4inf=null,  */ null,
         /* tab5=null,  */ null,
         /* tab5inf=null,  */ null,
         /* tab6=null,  */ null,
         /* tab6inf=null , */ null,
         /* islist=null */ false
      )(class="accent-prepa")
         

      include components/_c-banner-cta
      +bannerCta( "Comienza tu historia en Prepa Intercultural Tecmilenio", "dialogo-dark-green.png", "Si tienes alguna duda sobre el proceso de admisión, escríbenos. Nos contactaremos contigo para ayudarte a tomar la mejor decisión.", null, "¡Sí! Quiero más información", "#!", null, false)(class="bg-color-prepa")


   include layout/_footer
   
   script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
   script(src="../js/global.js")
   script(src="../vendor/slick.min.js")

   script.
      // Body width size
      const widthDevice = document.getElementsByTagName('body')[0].clientWidth;

      // Accordeon for certificados
      accordeonSection( '._c-certifications-accordeons' )

      if ( widthDevice < 1140 ){
         // Accordeon
         accordeonSection( '._c-exploration-routes' )
      }
      if ( widthDevice >= 1140 ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            arrows: false,
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
         });
      }

      if ( (widthDevice >= 740) && (widthDevice < 1140) ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            prevArrow: $('._c-events-in-career-section--nav.prev'),
            nextArrow: $('._c-events-in-career-section--nav.next')
         });
      }

      if ( widthDevice < 740 ){
         // Carousel for modalidades
         $('._c-events-in-career-section--slidepart').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            prevArrow: $('._c-events-in-career-section--nav.prev'),
            nextArrow: $('._c-events-in-career-section--nav.next')
         });
      }
