section._c-graduate-grid
   .o-container
      h2.color-dark-green.text-center.m-b-100 Al graduarte de la Prepa en Tecmilenio podr치s:
      .o-grid-row
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Descubrir y desarrollar tu Prop칩sito de Vida.   
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Tomar la mejor decisi칩n al momento de elegir tu carrera, con ayuda de nuestro plan vocacional.   
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Acrecentar tu capacidad para interactuar con personas de diferentes entornos culturales, lograr entendimiento cultural y una sana convivencia.   
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Relacionarte positivamente con quienes te rodean.   
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Desarrollar habilidades tecnol칩gicas que te permitan impulsarte en el mundo digital.    
         .col.size-4
            ._c-graduate-grid--icograduate
               ._c-graduate-grid--ico.bg-color-prepa-2
                  img(src="../images/ico-graduate-prepa-1.png", alt="", srcset="../images/ico-graduate-prepa-1.png")
               ._c-graduate-grid--copy
                  p Desarrollar tu creatividad al tener la capacidad de pensar en nuevas soluciones y formas diferentes de hacer las cosas.   