section._c-hero-lobby-preparatoria
   .decorations
      span.box-1
      span.box-2
      span.box-3

   .o-container
      .o-grid-row
         
         .col.size-6._c-hero-lobby-preparatoria--copytext
               h1.white-color Estudia tu Prepa en Tecmilenio
               p.white-color Estamos comprometidos a acompañar a nuestros(as) estudiantes durante todo su bachillerato. Impulsamos su desarrollo con programas académicos que les brindan las herramientas necesarias para agregar valor a su futuro laboral, bajo un modelo de bienestar integral.
               p.white-color En #[strong Tecmilenio] contamos con la única prepa intercultural que ofrece tres certificaciones para el futuro profesional de nuestros(as) estudiantes.  
         
         .col.size-6._c-hero-lobby-preparatoria--pictures
               img(src="../../../images/lobby-prepa-hero-sm.png", alt="", srcset="../../../images/lobby-prepa-hero-sm.png")
               img(src="../../../images/lobby-prepa-hero-lg.png", alt="", srcset="../../../images/lobby-prepa-hero-lg.png")